openapi: 3.0.3
info:
  title: MALULEKE-KS Platform API
  version: "1.0.0"
  description: >
    Contract-first specification for the MALULEKE-KS platform.
    Derives from PLATFORM-CONSTITUTION-v1.md and BUSINESS-RULES-v1.md.
    Zod schemas are generated from this contract, never hand-written independently of it.
servers:
  - url: https://malulekeks.dev/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development

tags:
  - name: Systems (Public)
  - name: Systems (Admin)
  - name: Inquiries
  - name: Lookups
  - name: Auth
  - name: Timeline
  - name: CV
  - name: CV (Admin)
  - name: Profile (Admin)
  - name: Settings (Admin)
  - name: Activity Log (Admin)

security:
  - {}

paths:
  # ============================================================
  # PUBLIC — SYSTEMS
  # ============================================================
  /systems:
    get:
      tags: [Systems (Public)]
      summary: List published systems
      description: >
        Returns only System rows where contentStatus = published.
        Per BR-1.1, NDA_RESTRICTED and unapproved REQUIRES_APPROVAL systems
        never appear here regardless of query parameters.
      parameters:
        - name: organization
          in: query
          schema: { type: string }
          description: Filter by organization slug
        - name: domain
          in: query
          schema: { type: string }
          description: Filter by domain key
        - name: status
          in: query
          schema: { type: string }
          description: Filter by status key (finished / in_progress / planned)
        - name: flagship
          in: query
          schema: { type: boolean }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        "200":
          description: Paginated list of public systems
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/SystemPublic" }
                  meta: { $ref: "#/components/schemas/PageMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }

  /systems/{slug}:
    get:
      tags: [Systems (Public)]
      summary: Get a single published system by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: A single public system, including case study body
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SystemPublicDetailed" }
        "308":
          description: "The slug the system used before a rename — permanent redirect (Location) to its current slug (#87, BR-1.14). Only for a system the visitor can see."
        "404": { $ref: "#/components/responses/NotFound" }

  /organizations:
    get:
      tags: [Systems (Public)]
      summary: List organizations that have at least one published system
      description: >
        For the /systems catalog filter bar. Never includes an organization
        with zero published systems — this is a filter-options list, not a
        general org directory.
      responses:
        "200":
          description: List of organizations with public content
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    name: { type: string }
                    slug: { type: string }

  # ============================================================
  # ADMIN — SYSTEMS
  # ============================================================
  /admin/systems:
    get:
      tags: [Systems (Admin)]
      summary: List all systems, any content status
      security: [{ adminSession: [] }]
      parameters:
        - name: contentStatus
          in: query
          schema: { type: string, enum: [draft, published, archived] }
        - name: needsCuration
          in: query
          schema: { type: boolean }
      responses:
        "200":
          description: Full system list including drafts and NDA-restricted entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/SystemAdmin" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Systems (Admin)]
      summary: Register a new system manually
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SystemCreateInput" }
      responses:
        "201":
          description: System created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SystemAdmin" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/systems/{id}:
    get:
      tags: [Systems (Admin)]
      summary: Get one system with its unmasked curation detail
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Full system detail, including skills, status history, pace and activity }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Systems (Admin)]
      summary: Update a system, including publishing state transitions
      description: >
        BR-1.1 is enforced here: a request that sets contentStatus=published
        while clientVisibility != PUBLIC and clientApproved=false returns 409.
        BR-1.11: when the system's repo relationship requires the repo owner's
        permission, publishing without a granted answer returns 409
        OWNER_PERMISSION_REQUIRED. The database enforces both.
      security: [{ adminSession: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SystemUpdateInput" }
      responses:
        "200":
          description: Updated system
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SystemAdmin" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "409":
          description: |
            Publishing blocked. CLIENT_APPROVAL_REQUIRED — client approval required (BR-1.1).
            OWNER_PERMISSION_REQUIRED — a collaborated system needs the repo owner's granted permission (BR-1.11).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  # ============================================================
  # INQUIRIES
  # ============================================================
  /inquiries:
    post:
      tags: [Inquiries]
      summary: Submit a visitor inquiry
      description: >
        The single visitor write path. Used identically by the human contact
        form and the agent's submit_inquiry tool (BR-4.2). Rate-limited per
        BR-2.4 — 5 submissions per IP per 24 hours. If the request includes a
        honeypot field with a non-empty value, the endpoint returns the same
        201 confirmation shape without creating a row (BR-2.7) — bot filling
        gets no distinguishable signal. Resubmission with a previously-used
        idempotencyKey within 10 minutes returns the original confirmation
        rather than creating a duplicate (BR-2.6).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/InquiryCreateInput" }
      responses:
        "201":
          description: Inquiry received
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InquiryConfirmation" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429":
          description: Rate limit exceeded (BR-2.4)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /admin/inquiries:
    get:
      tags: [Inquiries]
      summary: List inquiries for triage
      security: [{ adminSession: [] }]
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [new, reviewed, responded, closed] }
        - name: inquiryType
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Inquiry inbox
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/InquiryAdmin" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/inquiries/{id}:
    patch:
      tags: [Inquiries]
      summary: Update inquiry status
      description: >
        Enforces sequential status transitions per BR-2.1. new -> reviewed is
        always required first. From reviewed, either responded or closed is
        valid (closed covers spam/irrelevant inquiries without requiring a
        fake responded step). new -> responded and new -> closed both return
        409, as does any other non-adjacent jump.
      security: [{ adminSession: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status: { type: string, enum: [reviewed, responded, closed] }
      responses:
        "200":
          description: Inquiry updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InquiryAdmin" }
        "409":
          description: Invalid status transition (BR-2.1)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  # ============================================================
  # LOOKUPS — one generic endpoint for every EXT-1 lookup table
  # ============================================================
  /lookups/{type}:
    get:
      tags: [Lookups]
      summary: Read lookup values for a given type
      description: >
        One contract for every open dimension in the system — Status, Domain,
        InquiryType, MilestoneType, SkillCategory, RepoRelationship. A new lookup type added
        under EXT-1 needs no new endpoint, only a new value of {type}.
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [status, domain, inquiry-type, milestone-type, skill-category, repo-relationship]
        - name: includeInactive
          in: query
          schema: { type: boolean, default: false }
          description: Admin-only param; ignored for unauthenticated requests (BR-8.2)
      responses:
        "200":
          description: List of lookup values for the given type
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/LookupValue" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Lookups]
      summary: Add a new lookup value (BR-8.1)
      security: [{ adminSession: [] }]
      parameters:
        - name: type
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [key, label]
              properties:
                key: { type: string }
                label: { type: string }
                stage: { $ref: "#/components/schemas/PipelineStage" }
                colorToken: { $ref: "#/components/schemas/StatusColorToken" }
                requiresOwnerPermission: { type: boolean, description: "type=repo-relationship only (BR-1.11)" }
                autoDraftOnShip: { type: boolean, description: "type=milestone-type only; choosing one hands the flag over from any other type" }
      responses:
        "201":
          description: Lookup value created. For type=status, stage defaults to queued and colorToken to signal-planned when omitted. Extras a type doesn't have are refused with 400.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LookupValue" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: |
            The key already exists. Code LOOKUP_KEY_DEPRECATED when the existing value is soft-deprecated —
            reactivate it instead of re-creating it (BR-8.3); LOOKUP_KEY_EXISTS when it is active.

  /lookups/{type}/{id}:
    patch:
      tags: [Lookups]
      summary: Edit an existing lookup value (label and its type's extras)
      description: The key is immutable (BR-8.3 keeps keys unique and stable). Changing a status's stage moves every system in that status between the shipped / in-progress / queued counts with no code change (EXT-1). Making a repo relationship require the owner's permission re-checks every system using it (BR-1.11).
      security: [{ adminSession: [] }]
      parameters:
        - name: type
          in: path
          required: true
          schema: { type: string }
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LookupUpdateInput" }
      responses:
        "200":
          description: Updated lookup value
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LookupValue" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: OWNER_PERMISSION_REQUIRED — a published system uses this relationship without the owner's granted permission (BR-1.11); unpublish it or record the permission first.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /lookups/{type}/{id}/deprecate:
    post:
      tags: [Lookups]
      summary: Soft-deprecate a lookup value in use (BR-8.2)
      description: Marks a value inactive without deleting it. Hard delete is a separate, unexposed operation reserved for never-used values.
      security: [{ adminSession: [] }]
      parameters:
        - name: type
          in: path
          required: true
          schema: { type: string }
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Value marked inactive
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # AUTH
  # ============================================================
  /admin/auth/login:
    post:
      tags: [Auth]
      summary: Admin login step 1 — credentials
      description: On success, returns a challenge requiring 2FA (BR-3.1). Never issues a session on this call alone.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        "200":
          description: Credentials accepted, 2FA challenge issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  challengeToken: { type: string }
        "401":
          description: Invalid credentials, or account locked (BR-3.2)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /admin/auth/verify-2fa:
    post:
      tags: [Auth]
      summary: Admin login step 2 — TOTP or recovery code verification
      description: >
        `code` is either a 6-digit TOTP code or a recovery code (Design
        System §5). 5 failed attempts against the same challengeToken
        invalidates it (BR-3.6) rather than allowing continued guessing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challengeToken, code]
              properties:
                challengeToken: { type: string }
                code: { type: string, minLength: 6, maxLength: 32 }
      responses:
        "200":
          description: Session established
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionExpiresAt: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/auth/recovery-codes:
    get: { tags: [Auth], summary: "How many unused recovery codes remain, and whether that's low (< 3, BR-3.12)", security: [{ adminSession: [] }], responses: { "200": { description: "{ remaining, low }" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    post:
      tags: [Auth]
      summary: Regenerate the recovery codes — ten new ones, shown once; every old code stops working (BR-3.11, BR-3.12)
      description: "Needs the current password and a live, single-use TOTP code; failures count against the session like a password change (the fifth ends it: SESSION_REVOKED)."
      security: [{ adminSession: [] }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [currentPassword, code], properties: { currentPassword: { type: string, format: password }, code: { type: string, pattern: "^\\d{6}$" } } } } } }
      responses:
        "200": { description: "{ codes: string[10], remaining: 10, low: false } — show once, never retrievable again" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { description: "UNAUTHORIZED (credentials) or SESSION_REVOKED (fifth failure)", content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }

  /admin/auth/change-password:
    post:
      tags: [Auth]
      summary: Change the admin password and invalidate every prior session
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword, code]
              properties:
                currentPassword: { type: string, format: password }
                newPassword: { type: string, format: password, minLength: 12, maxLength: 256 }
                code: { type: string, pattern: "^\\d{6}$" }
      responses:
        "200": { description: Password changed and replacement session established; every older session has ended (BR-3.15) }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: >-
            UNAUTHORIZED — the current password or TOTP code was wrong (codes are single-use, BR-3.14).
            SESSION_REVOKED — the fifth failed attempt on this session ended it; sign in again.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  # ============================================================
  # TIMELINE & CV
  # ============================================================
  /timeline:
    get:
      tags: [Timeline]
      summary: List public timeline entries
      parameters:
        - name: milestoneType
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Timeline entries, chronological
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/TimelineEntry" }

  /cv/generate:
    post:
      tags: [CV]
      summary: Generate the CV from current data (BR-7.1) — PDF or Word, the same content
      description: >
        The CV engine (#74). One structured CV built from the public views and
        the owner's profile, rendered ATS-safe (one column, standard headings,
        real text, links written out). A target role reorders projects, bullets
        and skills by relevance — it never rewrites content. Prior documents of
        the same role and format are superseded, never deleted (BR-7.2).
        Rate-limited per connection (platform settings cv.rateLimit.*).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                targetRole: { type: string, nullable: true, maxLength: 100 }
                format: { $ref: "#/components/schemas/CvFormat" }
      responses:
        "201":
          description: Generated document reference
          content:
            application/json:
              schema:
                type: object
                properties:
                  fileUrl: { type: string, format: uri }
                  generatedAt: { type: string, format: date-time }
                  format: { $ref: "#/components/schemas/CvFormat" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { description: "The generated CV option is hidden by the admin (BR-7.5)", content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429":
          description: Rate limited
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  # ============================================================
  # ADMIN — TIMELINE
  # ============================================================
  /admin/timeline:
    get:
      tags: [Timeline]
      summary: List all timeline entries for management
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Full timeline entry list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/TimelineEntry" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Timeline]
      summary: Create a timeline entry
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TimelineCreateInput" }
      responses:
        "201":
          description: Timeline entry created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TimelineEntry" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/timeline/{id}:
    patch:
      tags: [Timeline]
      summary: Update a timeline entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TimelineCreateInput" }
      responses:
        "200":
          description: Timeline entry updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TimelineEntry" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Timeline]
      summary: Delete a timeline entry
      description: Timeline entries, unlike Systems, may be hard-deleted directly — they carry no publishing-state history worth preserving.
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # ADMIN — CV (Experience / Education / Skill)
  # ============================================================
  /admin/cv/experience:
    get:
      tags: [CV (Admin)]
      summary: List experience entries
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Experience list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ExperienceEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [CV (Admin)]
      summary: Create an experience entry
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ExperienceInput" }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/ExperienceEntry" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/cv/experience/{id}:
    patch:
      tags: [CV (Admin)]
      summary: Update an experience entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ExperienceInput" }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/ExperienceEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [CV (Admin)]
      summary: Delete an experience entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/cv/education:
    get:
      tags: [CV (Admin)]
      summary: List education entries
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Education list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/EducationEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [CV (Admin)]
      summary: Create an education entry
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EducationInput" }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/EducationEntry" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/cv/education/{id}:
    patch:
      tags: [CV (Admin)]
      summary: Update an education entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EducationInput" }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/EducationEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [CV (Admin)]
      summary: Delete an education entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/cv/skills:
    get:
      tags: [CV (Admin)]
      summary: List skills
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Skill list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/SkillEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [CV (Admin)]
      summary: Create a skill
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SkillInput" }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/SkillEntry" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/cv/skills/{id}:
    patch:
      tags: [CV (Admin)]
      summary: Update a skill
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SkillInput" }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/SkillEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [CV (Admin)]
      summary: Delete a skill
      description: Blocked with 409 if the skill is still referenced by any System or Experience (onDelete Restrict, mirrors BR-8.2 discipline).
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: Skill is still in use, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }

  # ============================================================
  # ADMIN — CV CHECK, PROFILE, ACHIEVEMENTS (#74)
  # ============================================================
  /admin/cv/check:
    get:
      tags: [CV (Admin)]
      summary: CV completeness report — score, issues, suggested summary, preview
      description: Reports what's missing or weak before generating. Never fills anything in; the suggested summary is drafted only from facts already on the CV.
      security: [{ adminSession: [] }]
      parameters:
        - name: targetRole
          in: query
          schema: { type: string, maxLength: 100 }
      responses:
        "200":
          description: The report
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CvCheck" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/profile:
    get:
      tags: [Profile (Admin)]
      summary: The owner's profile and links — the CV header and the site's owner details
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Profile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    patch:
      tags: [Profile (Admin)]
      summary: Edit profile fields (audited)
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfileUpdateInput" }
      responses:
        "200":
          description: Updated profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Profile" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/profile/links:
    post:
      tags: [Profile (Admin)]
      summary: Add a social or contact link
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfileLinkInput" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProfileLink" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/profile/links/{id}:
    patch:
      tags: [Profile (Admin)]
      summary: Edit a link (including whether the CV carries it)
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfileLinkInput" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProfileLink" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Profile (Admin)]
      summary: Remove a link
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Removed }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/achievements:
    get:
      tags: [Profile (Admin)]
      summary: List certifications and awards
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Achievement list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/Achievement" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Profile (Admin)]
      summary: Add a certification or award (starts as a draft unless contentStatus says otherwise)
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AchievementInput" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Achievement" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/achievements/{id}:
    patch:
      tags: [Profile (Admin)]
      summary: Edit an achievement; publishing it puts it on the site and the CV
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AchievementInput" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Achievement" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Profile (Admin)]
      summary: Remove an achievement
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Removed }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # ADMIN — SETTINGS (Flags, Visitor Lenses)
  # ============================================================
  /admin/settings/platform:
    get:
      tags: [Settings]
      summary: List every platform setting with its effective value (#67)
      description: |
        Tunables only — rate limits, SLAs, retention. Values a business rule fixes (BR-2.3, BR-3.2, BR-3.5)
        are deliberately not settings. A setting with no stored value reports its default (isDefault=true).
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: All registered settings
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/PlatformSetting" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/settings/platform/{key}:
    patch:
      tags: [Settings]
      summary: Change one setting, validated against its registered schema and bounds; audited
      security: [{ adminSession: [] }]
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string, example: inquiry.rateLimit.maxPerWindow }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PlatformSettingUpdateInput" }
      responses:
        "200":
          description: The setting after the change
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PlatformSetting" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/settings/flags:
    get:
      tags: [Settings (Admin)]
      summary: List all feature flags
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Flag list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/FlagEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/settings/flags/{key}:
    patch:
      tags: [Settings (Admin)]
      summary: Toggle a single feature flag (BR-4.4 — one at a time, no bulk-enable)
      security: [{ adminSession: [] }]
      parameters:
        - { name: key, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [enabled], properties: { enabled: { type: boolean } } }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/FlagEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/settings/lenses:
    get:
      tags: [Settings (Admin)]
      summary: List visitor lenses
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Lens list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/VisitorLensEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Settings (Admin)]
      summary: Create a visitor lens
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VisitorLensInput" }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/VisitorLensEntry" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/settings/lenses/{id}:
    patch:
      tags: [Settings (Admin)]
      summary: Update a visitor lens's priority content or AI framing prompt
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VisitorLensInput" }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/VisitorLensEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # ADMIN — ACTIVITY LOG (read-only, BR-3.4)
  # ============================================================
  /admin/activity-log:
    get:
      tags: [Activity Log (Admin)]
      summary: List activity log entries
      security: [{ adminSession: [] }]
      parameters:
        - name: entityType
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
      responses:
        "200":
          description: Activity log, most recent first
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/ActivityLogEntry" } }
                  meta: { $ref: "#/components/schemas/PageMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # Complete API surface — F2.2 (#82). These handlers are intentionally
  # declared alongside the original V1 endpoints: OpenAPI remains the source
  # of the supported public and admin surface.
  /profile:
    get: { tags: [Profile (Public)], summary: Get the public owner profile and links, description: "Admin-edited profile data, its links, and affiliations (organizations founded or co-founded, #99).", responses: { "200": { description: "Profile (with links[] and affiliations[] — name, slug, role)" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /home:
    get:
      tags: [Home (Public)]
      summary: Get homepage ledger, featured systems and approved metrics
      parameters: [{ name: featured, in: query, schema: { type: integer, minimum: 1, maximum: 12, default: 4 } }]
      responses: { "200": { description: Homepage data } }
  /search:
    get:
      tags: [Search (Public)]
      summary: Search published systems, journey entries and skills
      parameters: [{ name: q, in: query, required: true, schema: { type: string, minLength: 2, maxLength: 100 } }, { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 25, default: 10 } }]
      responses: { "200": { description: Search results }, "400": { $ref: "#/components/responses/BadRequest" }, "429": { description: Search rate limited } }
  /skills:
    get: { tags: [Profile (Public)], summary: List public skills with evidence, responses: { "200": { description: Skills and evidence } } }
  /achievements:
    get: { tags: [Profile (Public)], summary: List published achievements, responses: { "200": { description: Achievements } } }
  /metrics:
    get: { tags: [Metrics (Public)], summary: List approved public metrics, responses: { "200": { description: Approved metrics } } }
  /cv:
    get: { tags: [CV], summary: Get the generated CV as data, description: "The generated CV option's model (BR-7.1). 404 while the admin hides that option (BR-7.5).", responses: { "200": { description: CV model }, "400": { $ref: "#/components/responses/BadRequest" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /cv/documents/{id}:
    get:
      tags: [CV]
      summary: Download a generated CV document
      description: "404 for an unknown id, or while the admin hides the generated option (BR-7.5)."
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: Document bytes (attachment, nosniff) }, "404": { $ref: "#/components/responses/NotFound" } }
  /cv/options:
    get:
      tags: [CV]
      summary: List the CV options a visitor can choose (#92)
      description: >
        The CV generated from live data and the owner's uploaded CV, each only
        while the admin shows it, the admin's chosen one first, each clearly
        labelled (BR-7.1, BR-7.5). The uploaded option lists its current files
        (one per format) with their upload date.
      responses:
        "200":
          description: Visible options
          content:
            application/json:
              schema:
                type: object
                properties:
                  options: { type: array, items: { $ref: "#/components/schemas/CvOption" } }
  /cv/uploads/{id}:
    get:
      tags: [CV]
      summary: Download the owner's uploaded CV (#92)
      description: "Only a current file of a visible upload option; a superseded or hidden one is a 404 (BR-7.2, BR-7.5). Always an attachment, never sniffed (BR-7.6). Rate-limited (cv.download.rateLimit.*)."
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: File bytes (application/pdf or Word), attachment }, "404": { $ref: "#/components/responses/NotFound" }, "429": { description: Rate limited, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } } }
  /systems/{slug}/related:
    get:
      tags: [Systems (Public)]
      summary: List related published systems
      parameters: [{ name: slug, in: path, required: true, schema: { type: string } }, { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 12, default: 3 } }]
      responses: { "200": { description: Related systems }, "308": { description: "Old slug — permanent redirect to the current one, query kept (#87, BR-1.14)" }, "404": { $ref: "#/components/responses/NotFound" } }

  /admin/overview:
    get: { tags: [Overview (Admin)], summary: Get the admin attention dashboard, security: [{ adminSession: [] }], responses: { "200": { description: Dashboard data }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/organizations:
    get: { tags: [Organizations (Admin)], summary: List organizations, security: [{ adminSession: [] }], responses: { "200": { description: Organizations }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    post: { tags: [Organizations (Admin)], summary: Create an organization, security: [{ adminSession: [] }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/OrganizationInput" } } } }, responses: { "201": { description: Created }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/organizations/{id}:
    patch: { tags: [Organizations (Admin)], summary: Update an organization, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/OrganizationInput" } } } }, responses: { "200": { description: Updated }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/systems/{id}/skills:
    put: { tags: [Systems (Admin)], summary: Replace a system's skill links, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/SystemSkillsInput" } } } }, responses: { "200": { description: Updated skill links }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/systems/{id}/impacts:
    get: { tags: [Systems (Admin)], summary: List a system's impacts, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: Impacts }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    post: { tags: [Systems (Admin)], summary: Add a system impact, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ImpactInput" } } } }, responses: { "201": { description: Created }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/systems/{id}/revisions:
    get: { tags: [Systems (Admin)], summary: "Every version of a system's case study or description, newest first (#88, BR-1.15)", description: "field = caseStudyBody (default) or description. Each version is attributed (actorType, adminUserId) and dated; current = the newest; backfilled = the text when history began.", security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }, { name: field, in: query, schema: { type: string, enum: [caseStudyBody, description], default: caseStudyBody } }], responses: { "200": { description: "{ field, revisions: ContentRevision[] }", content: { application/json: { schema: { type: object, properties: { field: { type: string }, revisions: { type: array, items: { $ref: "#/components/schemas/ContentRevision" } } } } } } }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/systems/{id}/revisions/{revisionId}/restore:
    post: { tags: [Systems (Admin)], summary: "Write an earlier version back — recorded as a new version (BR-1.15)", security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }, { name: revisionId, in: path, required: true, schema: { type: string } }], responses: { "200": { description: "{ field, body, changed } — changed=false when that text is already current (nothing recorded)" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/impacts/{id}:
    patch: { tags: [Systems (Admin)], summary: Update an impact, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ImpactInput" } } } }, responses: { "200": { description: Updated }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
    delete: { tags: [Systems (Admin)], summary: Delete an impact, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "204": { description: Deleted }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/cv/documents:
    get: { tags: [CV (Admin)], summary: List generated CV documents, security: [{ adminSession: [] }], responses: { "200": { description: Document history }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/cv/uploads:
    get: { tags: [CV (Admin)], summary: List every uploaded CV version (#92), security: [{ adminSession: [] }], responses: { "200": { description: "{ versions: CvUploadVersion[] } — newest first per format", content: { application/json: { schema: { type: object, properties: { versions: { type: array, items: { $ref: "#/components/schemas/CvUploadVersion" } } } } } } }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    post:
      tags: [CV (Admin)]
      summary: Upload the owner's CV (PDF or Word) — becomes current for its format (#92)
      description: >
        multipart/form-data with one field "file". Accepted only if its content
        is a PDF or a macro-free Word document, whatever its name (BR-7.6), and
        within cv.upload.maxMegabytes. The previous current file of that format
        is superseded, never deleted (BR-7.2). Uploading the current file again
        changes nothing (200).
      security: [{ adminSession: [] }]
      requestBody: { required: true, content: { multipart/form-data: { schema: { type: object, required: [file], properties: { file: { type: string, format: binary } } } } } }
      responses: { "201": { description: New current version, content: { application/json: { schema: { $ref: "#/components/schemas/CvUploadVersion" } } } }, "200": { description: Already the current file — nothing changed }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "413": { description: Larger than the upload limit }, "415": { description: "UNSUPPORTED_FILE — not a PDF or Word document, or a Word file with macros" } }
  /admin/cv/uploads/{id}:
    get: { tags: [CV (Admin)], summary: Download any uploaded CV version, current or superseded, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: File bytes (attachment, nosniff) }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/cv/uploads/{id}/restore:
    post: { tags: [CV (Admin)], summary: Make an earlier uploaded version current again (BR-7.2), security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: Restored version, content: { application/json: { schema: { $ref: "#/components/schemas/CvUploadVersion" } } } }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/cv/options:
    get: { tags: [CV (Admin)], summary: Get which CV options visitors see (#92), security: [{ adminSession: [] }], responses: { "200": { description: CV options, content: { application/json: { schema: { $ref: "#/components/schemas/CvOptions" } } } }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    patch: { tags: [CV (Admin)], summary: "Show or hide each CV option, choose the first, edit labels (BR-7.5)", description: "The database refuses hiding both, a hidden first option, and hiding the generated CV before any upload exists — 400 in the rule's words.", security: [{ adminSession: [] }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CvOptionsUpdateInput" } } } }, responses: { "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/CvOptions" } } } }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/metrics:
    get: { tags: [Metrics (Admin)], summary: List metrics, current values, proposals and history, security: [{ adminSession: [] }], responses: { "200": { description: Metrics }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    post: { tags: [Metrics (Admin)], summary: Define a metric, security: [{ adminSession: [] }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/MetricInput" } } } }, responses: { "201": { description: Created }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/metrics/{key}:
    patch: { tags: [Metrics (Admin)], summary: Update a metric definition, security: [{ adminSession: [] }], parameters: [{ name: key, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/MetricUpdateInput" } } } }, responses: { "200": { description: Updated }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/metrics/{key}/proposals:
    post: { tags: [Metrics (Admin)], summary: Propose a manual metric value, security: [{ adminSession: [] }], parameters: [{ name: key, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/MetricProposalInput" } } } }, responses: { "201": { description: Proposed }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/metrics/compute:
    post: { tags: [Metrics (Admin)], summary: Compute and propose registered metrics, security: [{ adminSession: [] }], responses: { "200": { description: Computation result }, "401": { $ref: "#/components/responses/Unauthorized" }, "409": { description: Computation already running } } }
  /admin/metrics/snapshots/{id}/approve:
    post: { tags: [Metrics (Admin)], summary: Approve a proposed metric snapshot, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: Updated metric }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" }, "409": { description: Invalid snapshot transition } } }
  /admin/metrics/snapshots/{id}/reject:
    post: { tags: [Metrics (Admin)], summary: Reject a proposed metric snapshot, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: Updated metric }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" }, "409": { description: Invalid snapshot transition } } }
  /admin/freshness:
    get: { tags: [Overview (Admin)], summary: "Live content nobody has edited or reviewed for content.freshnessDays, oldest first (#89, BR-1.16)", description: "Systems, roles, education and the profile. Only a real edit to what visitors see, or mark-reviewed, restarts the clock — GitHub sync writes don't.", security: [{ adminSession: [] }], responses: { "200": { description: "{ thresholdDays, items: [{ kind, id, title, reviewedAt, daysSince }] }" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/freshness/{kind}/{id}/reviewed:
    post: { tags: [Overview (Admin)], summary: "Mark content reviewed — still accurate; its clock restarts (BR-1.16)", security: [{ adminSession: [] }], parameters: [{ name: kind, in: path, required: true, schema: { type: string, enum: [system, experience, education, profile] } }, { name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: "{ kind, id, reviewedAt }" }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/jobs:
    get: { tags: [Jobs (Admin)], summary: "List registered jobs (with schedule) and recent runs (with what started each)", security: [{ adminSession: [] }], parameters: [{ name: job, in: query, schema: { type: string } }], responses: { "200": { description: "{ jobs: [{ name, description, rules, schedule }], data: [{ id, job, status, startedAt, finishedAt, durationMs, summary, error, trigger, adminUserId }] }" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/jobs/{job}/run:
    post: { tags: [Jobs (Admin)], summary: "Run a registered job now (#94) — same runner and lock as the schedule, recorded as started by this admin", security: [{ adminSession: [] }], parameters: [{ name: job, in: path, required: true, schema: { type: string, enum: [maintenance.daily, metrics.compute, github.sync] } }], responses: { "200": { description: "{ status: succeeded, runId, result }" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" }, "409": { description: "ALREADY_RUNNING" }, "500": { description: "{ status: failed, runId, error } — the run is recorded with its error" } } }

components:
  securitySchemes:
    adminSession:
      type: apiKey
      in: cookie
      name: admin_session
      description: >-
        HTTP-only, SameSite=Strict session cookie, issued only after 2FA verification (BR-3.1).
        Every state-changing admin request — and the two login steps — is refused with
        403 CSRF_REJECTED when its Origin or Sec-Fetch-Site names another site (BR-3.9).

  responses:
    BadRequest:
      description: Validation failed
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Unauthorized:
      description: Missing or invalid admin session
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }

  schemas:
    OrganizationInput:
      type: object
      required: [name, slug]
      properties:
        name: { type: string, minLength: 1 }
        slug: { type: string, pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$" }
        isClient: { type: boolean, default: false }
        githubLogin: { type: string, nullable: true }
    ImpactInput:
      type: object
      required: [label, value]
      properties:
        label: { type: string, minLength: 1 }
        value: { type: string, minLength: 1 }
        context: { type: string, nullable: true }
        sortOrder: { type: integer, minimum: 0, default: 0 }
    SystemSkillsInput:
      type: object
      required: [skillIds]
      properties:
        skillIds: { type: array, items: { type: string } }
    MetricInput:
      type: object
      required: [key, label, unit]
      properties:
        key: { type: string, pattern: "^[a-z][a-z0-9_.-]*$" }
        label: { type: string, minLength: 1 }
        description: { type: string, nullable: true }
        unit: { type: string, minLength: 1 }
        sortOrder: { type: integer, minimum: 0, default: 0 }
        active: { type: boolean, default: true }
    MetricUpdateInput:
      type: object
      properties:
        label: { type: string, minLength: 1 }
        description: { type: string, nullable: true }
        unit: { type: string, minLength: 1 }
        sortOrder: { type: integer, minimum: 0 }
        active: { type: boolean }
    MetricProposalInput:
      type: object
      required: [value]
      properties:
        value: { type: number }
    ContentRevision:
      type: object
      properties:
        id: { type: string }
        field: { type: string, enum: [caseStudyBody, description] }
        body: { type: string, nullable: true }
        actorType: { type: string, enum: [ADMIN, ANONYMOUS, SYSTEM] }
        adminUserId: { type: string, nullable: true }
        backfilled: { type: boolean }
        createdAt: { type: string, format: date-time }
        current: { type: boolean }
        matchesCurrent: { type: boolean }
    CvOption:
      type: object
      description: "One CV option a visitor can choose (#92). generated → call generate; uploaded → download a file."
      required: [kind, label, note, formats]
      properties:
        kind: { type: string, enum: [generated, uploaded] }
        label: { type: string }
        note: { type: string }
        formats: { type: array, items: { type: string, enum: [pdf, docx] } }
        generate: { type: object, description: "generated only", properties: { method: { type: string, enum: [POST] }, url: { type: string } } }
        uploadedAt: { type: string, format: date-time, nullable: true, description: "uploaded only — the newest current file" }
        files:
          type: array
          description: uploaded only
          items: { type: object, properties: { format: { type: string, enum: [pdf, docx] }, byteSize: { type: integer }, uploadedAt: { type: string, format: date-time }, url: { type: string } } }
    CvUploadVersion:
      type: object
      properties:
        id: { type: string }
        format: { type: string, enum: [pdf, docx] }
        fileName: { type: string, description: As uploaded — admin only }
        byteSize: { type: integer }
        sha256: { type: string }
        uploadedAt: { type: string, format: date-time }
        supersededAt: { type: string, format: date-time, nullable: true }
        current: { type: boolean }
    CvOptions:
      type: object
      properties:
        showGenerated: { type: boolean }
        showUploaded: { type: boolean }
        firstOption: { type: string, enum: [generated, uploaded] }
        generatedLabel: { type: string, maxLength: 60 }
        generatedNote: { type: string, maxLength: 200 }
        uploadedLabel: { type: string, maxLength: 60 }
        uploadedNote: { type: string, maxLength: 200 }
        updatedAt: { type: string, format: date-time }
    CvOptionsUpdateInput:
      type: object
      minProperties: 1
      additionalProperties: false
      properties:
        showGenerated: { type: boolean }
        showUploaded: { type: boolean }
        firstOption: { type: string, enum: [generated, uploaded] }
        generatedLabel: { type: string, minLength: 1, maxLength: 60 }
        generatedNote: { type: string, maxLength: 200 }
        uploadedLabel: { type: string, minLength: 1, maxLength: 60 }
        uploadedNote: { type: string, maxLength: 200 }
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum:
                - VALIDATION_ERROR
                - UNAUTHORIZED
                - NOT_FOUND
                - CLIENT_APPROVAL_REQUIRED
                - INVALID_STATUS_TRANSITION
                - RATE_LIMITED
                - ACCOUNT_LOCKED
                - CHALLENGE_EXPIRED
                - CHALLENGE_INVALID
                - LOOKUP_KEY_DEPRECATED
                - LOOKUP_KEY_EXISTS
                - OWNER_PERMISSION_REQUIRED
                - INTERNAL_ERROR
              description: Closed set, kept in lockstep with lib/schemas.ts ErrorCodeEnum — never a freeform string.
            message: { type: string }
            details: { type: object, nullable: true }

    PageMeta:
      type: object
      properties:
        page: { type: integer }
        pageSize: { type: integer }
        total: { type: integer }

    LookupValue:
      type: object
      properties:
        id: { type: string }
        key: { type: string }
        label: { type: string }
        active: { type: boolean }
        stage: { $ref: "#/components/schemas/PipelineStage", description: "type=status only" }
        colorToken: { $ref: "#/components/schemas/StatusColorToken", description: "type=status only" }
        requiresOwnerPermission: { type: boolean, description: "type=repo-relationship only — publishing needs the repo owner's permission (BR-1.11)" }
        autoDraftOnShip: { type: boolean, description: "type=milestone-type only — the type a system's first ship is auto-drafted as" }

    PipelineStage:
      type: string
      enum: [shipped, building, queued]
      description: Which homepage count a Status belongs to. A fixed control dimension (EXT-1 exception, like ContentStatus); the statuses themselves stay an open lookup.

    StatusColorToken:
      type: string
      enum: [signal-finished, signal-progress, signal-planned]
      description: Curated, contrast-checked palette a Status may use (DESIGN-SYSTEM.md §1).

    PlatformSetting:
      type: object
      properties:
        key: { type: string }
        value: { description: "Effective value (the stored override, or the default)" }
        default: { description: "Registry default — the business-rule value" }
        isDefault: { type: boolean }
        description: { type: string }
        rule: { type: string, example: BR-2.4 }
        updatedAt: { type: string, format: date-time, nullable: true }

    PlatformSettingUpdateInput:
      type: object
      required: [value]
      properties:
        value: { description: "Must satisfy the setting's registered type and bounds" }

    LookupUpdateInput:
      type: object
      properties:
        label: { type: string, minLength: 1 }
        stage: { $ref: "#/components/schemas/PipelineStage" }
        colorToken: { $ref: "#/components/schemas/StatusColorToken" }
        requiresOwnerPermission: { type: boolean }
        autoDraftOnShip: { type: boolean }

    OwnerPermission:
      type: string
      enum: [not_required, not_requested, requested, granted, declined]
      description: The repo owner's answer for a collaborated system (BR-1.11). A fixed control state; the database keeps it consistent with the repo relationship.

    SystemPublic:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        organization: { type: string }
        status: { type: string }
        statusColorToken: { type: string, description: "CSS custom-property/Tailwind token name (e.g. signal-finished) — status color is data (EXT-1), not a client-side hardcoded map" }
        domain: { type: string, nullable: true }
        description: { type: string }
        repoUrl: { type: string, nullable: true, description: "Null when clientVisibility = NDA_RESTRICTED (BR-1.3) or the repo is private (BR-1.7)" }
        liveUrl: { type: string, nullable: true }
        screenshotUrl: { type: string, nullable: true, description: "Homepage preview image; renders a technical placeholder when absent" }
        techStack: { type: array, items: { type: string } }
        isFlagship: { type: boolean }
        repoPrivate: { type: boolean, description: "BR-1.7 — shown as a private repository; access is available on request" }

    SystemPublicDetailed:
      allOf:
        - $ref: "#/components/schemas/SystemPublic"
        - type: object
          properties:
            caseStudyBody: { type: string }
            impacts:
              type: array
              items:
                type: object
                properties:
                  label: { type: string }
                  value: { type: string }
            testimonials:
              type: array
              items: { $ref: "#/components/schemas/TestimonialPublic" }

    TestimonialPublic:
      type: object
      description: Only ever returned where hasPermission=true (BR-6.1)
      properties:
        authorName: { type: string }
        authorRole: { type: string, nullable: true }
        organization: { type: string, nullable: true }
        quote: { type: string }

    SystemAdmin:
      allOf:
        - $ref: "#/components/schemas/SystemPublicDetailed"
        - type: object
          properties:
            contentStatus: { type: string, enum: [draft, published, archived] }
            publishAt: { type: string, format: date-time, nullable: true, description: "BR-1.13 — admin responses only. When published content goes live; null = as soon as published" }
            clientVisibility: { type: string, enum: [PUBLIC, REQUIRES_APPROVAL, NDA_RESTRICTED, ANONYMIZED_ONLY] }
            clientApproved: { type: boolean, description: "Authorizes publishing (BR-1.1) — see nameDisclosureApproved for real-name authorization" }
            nameDisclosureApproved: { type: boolean, description: "Separate from clientApproved (BR-1.4) — authorizes revealing the real org name for an ANONYMIZED_ONLY system" }
            needsCuration: { type: boolean }
            sortOrder: { type: integer }
            featuredOnHome: { type: boolean, description: "Admin-chosen for the homepage (published systems only are shown)" }
            homeOrder: { type: integer, description: "Order among homepage-featured systems, ascending" }
            onCv: { type: boolean, description: "Listed under Projects on the CV (published systems only)" }
            cvOrder: { type: integer }
            repoRelationship: { type: string, nullable: true, description: "RepoRelationship key (e.g. owner, collaborator)" }
            ownerPermission: { $ref: "#/components/schemas/OwnerPermission" }
            ownerPermissionFrom: { type: string, nullable: true, description: "Who granted or declined — the repo owner's name or GitHub login" }
            ownerPermissionAt: { type: string, format: date-time, nullable: true, description: "Set by the database when the answer changes" }
            ownerPermissionNote: { type: string, nullable: true }
            github:
              type: object
              description: Sourced from GitHub by the sync; null values until synced
              properties:
                fullName: { type: string, nullable: true }
                ownerLogin: { type: string, nullable: true }
                pushedAt: { type: string, format: date-time, nullable: true }
                languages: { type: object, nullable: true, additionalProperties: { type: integer }, description: "Bytes per language" }
                topics: { type: array, items: { type: string } }
                stars: { type: integer, nullable: true }
                syncedAt: { type: string, format: date-time, nullable: true }

    SystemCreateInput:
      type: object
      required: [name, slug, organizationId, statusId, description]
      properties:
        name: { type: string }
        slug: { type: string }
        organizationId: { type: string }
        statusId: { type: string }
        domainId: { type: string, nullable: true }
        description: { type: string }
        repoUrl: { type: string, nullable: true }
        liveUrl: { type: string, nullable: true }
        screenshotUrl: { type: string, nullable: true }
        techStack: { type: array, items: { type: string } }
        clientVisibility: { type: string, enum: [PUBLIC, REQUIRES_APPROVAL, NDA_RESTRICTED, ANONYMIZED_ONLY] }

    SystemUpdateInput:
      type: object
      properties:
        slug: { type: string, pattern: "^[a-z0-9]+(-[a-z0-9]+)*$", maxLength: 100, description: "#87 / BR-1.14 — rename the URL; the old slug keeps redirecting permanently. 409 SLUG_TAKEN (another system's current slug) or SLUG_RESERVED (another system's old slug)" }
        contentStatus: { type: string, enum: [draft, published, archived] }
        publishAt: { type: string, format: date-time, nullable: true, description: "BR-1.13 — schedule publication: with contentStatus published, the content goes live at this time (checked by every publish gate now). Omitted = unchanged; null = live as soon as published. Refused (400) on unpublished content" }
        clientApproved: { type: boolean }
        nameDisclosureApproved: { type: boolean }
        isFlagship: { type: boolean }
        sortOrder: { type: integer }
        featuredOnHome: { type: boolean }
        homeOrder: { type: integer, minimum: 0 }
        onCv: { type: boolean }
        cvOrder: { type: integer, minimum: 0 }
        repoRelationship: { type: string, nullable: true, description: "A RepoRelationship key; null clears it" }
        ownerPermission: { type: string, enum: [not_requested, requested, granted, declined] }
        ownerPermissionFrom: { type: string, nullable: true, description: "Required (by the database) when the answer is granted or declined" }
        ownerPermissionNote: { type: string, nullable: true }
        caseStudyBody: { type: string }
        repoUrl: { type: string, nullable: true }
        liveUrl: { type: string, nullable: true }
        screenshotUrl: { type: string, nullable: true }

    InquiryCreateInput:
      type: object
      required: [name, email, message, inquiryType]
      properties:
        name: { type: string, minLength: 1 }
        email: { type: string, format: email }
        message: { type: string, minLength: 20, maxLength: 5000, description: "BR-2.3" }
        inquiryType:
          type: string
          pattern: "^[a-z0-9]+([_-][a-z0-9]+)*$"
          description: "An active InquiryType lookup key (GET /lookups/inquiry_type). A lookup (EXT-1): new types need no API change; unknown or deprecated keys are a 400 (BR-8.2)."
        source: { type: string, nullable: true, description: "Captured automatically, not client-supplied (BR-2.5); \"direct\" when no Referer header is present" }
        idempotencyKey: { type: string, format: uuid, nullable: true, description: "Optional; dedupes a resubmission within 10 minutes (BR-2.6)" }

    InquiryConfirmation:
      type: object
      properties:
        id: { type: string }
        status: { type: string, example: "new" }
        submittedAt: { type: string, format: date-time }

    InquiryAdmin:
      allOf:
        - $ref: "#/components/schemas/InquiryConfirmation"
        - type: object
          properties:
            name: { type: string }
            email: { type: string }
            message: { type: string }
            inquiryType: { type: string }
            source: { type: string, nullable: true }

    TimelineEntry:
      type: object
      properties:
        id: { type: string }
        milestoneType: { type: string }
        title: { type: string }
        description: { type: string, nullable: true }
        date: { type: string, format: date }
        tags: { type: array, items: { type: string } }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Public reads return published entries only" }
        publishAt: { type: string, format: date-time, nullable: true, description: "BR-1.13 — admin responses only. When published content goes live; null = as soon as published" }
        autoDrafted: { type: boolean, description: "Drafted by the database when a system first shipped; awaits the admin's approval" }
        systemId: { type: string, nullable: true }

    TimelineCreateInput:
      type: object
      required: [milestoneTypeId, title, date]
      properties:
        milestoneTypeId: { type: string }
        title: { type: string, minLength: 1 }
        description: { type: string, nullable: true }
        date: { type: string, format: date }
        media: { type: string, nullable: true }
        tags: { type: array, items: { type: string }, default: [] }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Omitted on create = published; omitted on update = unchanged. Publishing an auto-drafted entry approves it." }
        publishAt: { type: string, format: date-time, nullable: true, description: "BR-1.13 — schedule publication: with contentStatus published, the content goes live at this time (checked by every publish gate now). Omitted = unchanged; null = live as soon as published. Refused (400) on unpublished content" }

    ExperienceEntry:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        organization: { type: string }
        location: { type: string, nullable: true }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date, nullable: true }
        description: { type: string }
        highlights: { type: array, items: { type: string }, description: "CV achievement bullets, in order" }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Only published roles appear on /cv and in the generated CV" }
        publishAt: { type: string, format: date-time, nullable: true, description: "BR-1.13 — admin responses only. When published content goes live; null = as soon as published" }
        skills: { type: array, items: { type: string } }

    ExperienceInput:
      type: object
      required: [title, organization, startDate, description]
      properties:
        title: { type: string, minLength: 1 }
        organization: { type: string, minLength: 1 }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date, nullable: true }
        location: { type: string, nullable: true }
        description: { type: string, minLength: 1 }
        highlights: { type: array, items: { type: string, maxLength: 300 }, maxItems: 15, default: [] }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Omitted on create = published; omitted on update = unchanged" }
        publishAt: { type: string, format: date-time, nullable: true, description: "BR-1.13 — schedule publication: with contentStatus published, the content goes live at this time (checked by every publish gate now). Omitted = unchanged; null = live as soon as published. Refused (400) on unpublished content" }
        skillIds: { type: array, items: { type: string }, default: [] }

    EducationEntry:
      type: object
      properties:
        id: { type: string }
        institution: { type: string }
        qualification: { type: string }
        fieldOfStudy: { type: string, nullable: true }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date, nullable: true, description: "null = still studying" }
        honors: { type: string, nullable: true }
        description: { type: string, nullable: true }
        certificateUrl: { type: string, nullable: true, description: "https only (database CHECK)" }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Only published entries appear on /cv and in the generated CV" }
        publishAt: { type: string, format: date-time, nullable: true, description: "BR-1.13 — admin responses only. When published content goes live; null = as soon as published" }
        skills: { type: array, items: { type: string }, description: "Skill names this qualification taught" }
        expectedGraduation: { type: string, format: date, nullable: true, description: "For a degree in progress" }
        coursework: { type: array, items: { type: string }, description: "Relevant modules" }

    EducationInput:
      type: object
      required: [institution, qualification, startDate]
      properties:
        institution: { type: string, minLength: 1 }
        qualification: { type: string, minLength: 1 }
        fieldOfStudy: { type: string, nullable: true }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date, nullable: true }
        honors: { type: string, nullable: true }
        description: { type: string, nullable: true }
        certificateUrl: { type: string, nullable: true, pattern: "^https://" }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Omitted on create = published; omitted on update = unchanged" }
        publishAt: { type: string, format: date-time, nullable: true, description: "BR-1.13 — schedule publication: with contentStatus published, the content goes live at this time (checked by every publish gate now). Omitted = unchanged; null = live as soon as published. Refused (400) on unpublished content" }
        skillIds: { type: array, items: { type: string }, default: [], description: "Replaces the entry's skill links" }
        expectedGraduation: { type: string, format: date, nullable: true, description: "Only for a degree in progress (no endDate) — database CHECK" }
        coursework: { type: array, items: { type: string, maxLength: 120 }, maxItems: 30, default: [] }

    SkillEntry:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        category: { type: string }
        yearsExperience: { type: number, nullable: true }

    SkillInput:
      type: object
      required: [name, categoryId]
      properties:
        name: { type: string, minLength: 1 }
        categoryId: { type: string }
        yearsExperience: { type: number, nullable: true }

    FlagEntry:
      type: object
      properties:
        id: { type: string }
        key: { type: string }
        enabled: { type: boolean }
        notes: { type: string, nullable: true }

    VisitorLensEntry:
      type: object
      properties:
        id: { type: string }
        key: { type: string }
        label: { type: string }
        priorityContent: { type: object }
        aiFramingPrompt: { type: string }

    VisitorLensInput:
      type: object
      required: [key, label, priorityContent, aiFramingPrompt]
      properties:
        key: { type: string, minLength: 1 }
        label: { type: string, minLength: 1 }
        priorityContent: { type: object }
        aiFramingPrompt: { type: string, minLength: 1 }

    CvFormat:
      type: string
      enum: [pdf, docx]
      default: pdf
      description: The same CV in two formats (#74)

    CvIssue:
      type: object
      properties:
        severity: { type: string, enum: [error, warning, tip], description: "error = not ready (e.g. no name or email)" }
        section: { type: string, enum: [contact, summary, experience, projects, education, skills, targetRole] }
        message: { type: string }

    CvCheck:
      type: object
      properties:
        score: { type: integer, minimum: 0, maximum: 100 }
        ready: { type: boolean }
        issues: { type: array, items: { $ref: "#/components/schemas/CvIssue" } }
        suggestedSummary: { type: string, nullable: true, description: "Drafted only from facts on the CV; offered, never saved" }
        preview: { type: object, description: "The CV model that would be rendered" }

    ProfileLink:
      type: object
      properties:
        id: { type: string }
        kind: { type: string, example: github }
        label: { type: string }
        url: { type: string }
        sortOrder: { type: integer }
        onCv: { type: boolean }

    ProfileLinkInput:
      type: object
      required: [kind, label, url]
      properties:
        kind: { type: string, pattern: "^[a-z0-9]+(-[a-z0-9]+)*$" }
        label: { type: string, minLength: 1 }
        url: { type: string, description: "https:// or mailto: only (database CHECK)" }
        sortOrder: { type: integer, minimum: 0, default: 0 }
        onCv: { type: boolean, default: true }

    Profile:
      type: object
      properties:
        displayName: { type: string }
        initials: { type: string, nullable: true }
        headline: { type: string, nullable: true, example: "Software & AI Engineer" }
        role: { type: string }
        location: { type: string, nullable: true }
        email: { type: string }
        phone: { type: string, nullable: true, description: "On the CV only when set" }
        summary: { type: string, nullable: true, description: "The CV's professional summary" }
        bio: { type: string, nullable: true }
        availability: { type: string, nullable: true }
        buildingSinceYear: { type: integer, nullable: true }
        links: { type: array, items: { $ref: "#/components/schemas/ProfileLink" } }
        updatedAt: { type: string, format: date-time }

    ProfileUpdateInput:
      type: object
      description: Any subset of the fields; at least one.
      properties:
        displayName: { type: string, minLength: 1 }
        initials: { type: string, nullable: true }
        headline: { type: string, nullable: true }
        role: { type: string, minLength: 1 }
        location: { type: string, nullable: true }
        email: { type: string, format: email }
        phone: { type: string, nullable: true, pattern: "^\\+?[0-9][0-9 ()-]{6,19}$" }
        summary: { type: string, nullable: true, maxLength: 1200 }
        bio: { type: string, nullable: true }
        availability: { type: string, nullable: true }
        buildingSinceYear: { type: integer, nullable: true, minimum: 1990, maximum: 2100 }

    Achievement:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        issuer: { type: string, nullable: true }
        achievedOn: { type: string, format: date }
        description: { type: string, nullable: true }
        url: { type: string, nullable: true }
        systemId: { type: string, nullable: true }
        contentStatus: { type: string, enum: [draft, published, archived] }
        publishAt: { type: string, format: date-time, nullable: true, description: "BR-1.13 — admin responses only. When published content goes live; null = as soon as published" }
        sortOrder: { type: integer }

    AchievementInput:
      type: object
      required: [title, achievedOn]
      properties:
        title: { type: string, minLength: 1 }
        issuer: { type: string, nullable: true }
        achievedOn: { type: string, format: date }
        description: { type: string, nullable: true }
        url: { type: string, nullable: true, pattern: "^https://" }
        systemId: { type: string, nullable: true }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Omitted on create = draft" }
        publishAt: { type: string, format: date-time, nullable: true, description: "BR-1.13 — schedule publication: with contentStatus published, the content goes live at this time (checked by every publish gate now). Omitted = unchanged; null = live as soon as published. Refused (400) on unpublished content" }
        sortOrder: { type: integer, minimum: 0, default: 0 }

    ActivityLogEntry:
      type: object
      description: Append-only (F1.3). Request context is exposed only as keyed hashes — comparable across entries, never reversible.
      properties:
        id: { type: string }
        actorType: { type: string, enum: [admin, anonymous, system] }
        adminUserEmail: { type: string, nullable: true, description: "Null for anonymous and system actors" }
        subjectHash: { type: string, nullable: true, description: "Keyed hash of what an anonymous actor tried, e.g. an unknown login email" }
        ipHash: { type: string, nullable: true }
        userAgentHash: { type: string, nullable: true }
        action: { type: string, description: "Data changes are logged by the database as <table>.<create|update|delete> (e.g. system.update), with only the changed columns and secrets/PII redacted; auth events keep their own names (auth.login, auth.login_failed, …)" }
        entityType: { type: string, nullable: true }
        entityId: { type: string, nullable: true }
        before: { type: object, nullable: true }
        after: { type: object, nullable: true }
        createdAt: { type: string, format: date-time }
