openapi: 3.0.3
info:
  title: MALULEKE-KS Platform API
  version: "1.0.0"
  description: >
    Contract-first specification for the MALULEKE-KS platform.
    Derives from PLATFORM-CONSTITUTION-v1.md and BUSINESS-RULES-v1.md.
    Zod schemas are generated from this contract, never hand-written independently of it.
servers:
  - url: https://malulekeks.dev/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development

tags:
  - name: Systems (Public)
  - name: Systems (Admin)
  - name: Inquiries
  - name: Lookups
  - name: Auth
  - name: Timeline
  - name: CV
  - name: CV (Admin)
  - name: Profile (Admin)
  - name: Settings (Admin)
  - name: Activity Log (Admin)

security:
  - {}

paths:
  # ============================================================
  # PUBLIC — SYSTEMS
  # ============================================================
  /systems:
    get:
      tags: [Systems (Public)]
      summary: List published systems
      description: >
        Returns only System rows where contentStatus = published.
        Per BR-1.1, NDA_RESTRICTED and unapproved REQUIRES_APPROVAL systems
        never appear here regardless of query parameters.
      parameters:
        - name: organization
          in: query
          schema: { type: string }
          description: Filter by organization slug
        - name: domain
          in: query
          schema: { type: string }
          description: Filter by domain key
        - name: status
          in: query
          schema: { type: string }
          description: Filter by status key (finished / in_progress / planned)
        - name: flagship
          in: query
          schema: { type: boolean }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        "200":
          description: Paginated list of public systems
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/SystemPublic" }
                  meta: { $ref: "#/components/schemas/PageMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }

  /systems/{slug}:
    get:
      tags: [Systems (Public)]
      summary: Get a single published system by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: A single public system, including case study body
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SystemPublicDetailed" }
        "404": { $ref: "#/components/responses/NotFound" }

  /organizations:
    get:
      tags: [Systems (Public)]
      summary: List organizations that have at least one published system
      description: >
        For the /systems catalog filter bar. Never includes an organization
        with zero published systems — this is a filter-options list, not a
        general org directory.
      responses:
        "200":
          description: List of organizations with public content
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    name: { type: string }
                    slug: { type: string }

  # ============================================================
  # ADMIN — SYSTEMS
  # ============================================================
  /admin/systems:
    get:
      tags: [Systems (Admin)]
      summary: List all systems, any content status
      security: [{ adminSession: [] }]
      parameters:
        - name: contentStatus
          in: query
          schema: { type: string, enum: [draft, published, archived] }
        - name: needsCuration
          in: query
          schema: { type: boolean }
      responses:
        "200":
          description: Full system list including drafts and NDA-restricted entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/SystemAdmin" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Systems (Admin)]
      summary: Register a new system manually
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SystemCreateInput" }
      responses:
        "201":
          description: System created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SystemAdmin" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/systems/{id}:
    patch:
      tags: [Systems (Admin)]
      summary: Update a system, including publishing state transitions
      description: >
        BR-1.1 is enforced here: a request that sets contentStatus=published
        while clientVisibility != PUBLIC and clientApproved=false returns 409.
        BR-1.11: when the system's repo relationship requires the repo owner's
        permission, publishing without a granted answer returns 409
        OWNER_PERMISSION_REQUIRED. The database enforces both.
      security: [{ adminSession: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SystemUpdateInput" }
      responses:
        "200":
          description: Updated system
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SystemAdmin" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "409":
          description: |
            Publishing blocked. CLIENT_APPROVAL_REQUIRED — client approval required (BR-1.1).
            OWNER_PERMISSION_REQUIRED — a collaborated system needs the repo owner's granted permission (BR-1.11).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  # ============================================================
  # INQUIRIES
  # ============================================================
  /inquiries:
    post:
      tags: [Inquiries]
      summary: Submit a visitor inquiry
      description: >
        The single visitor write path. Used identically by the human contact
        form and the agent's submit_inquiry tool (BR-4.2). Rate-limited per
        BR-2.4 — 5 submissions per IP per 24 hours. If the request includes a
        honeypot field with a non-empty value, the endpoint returns the same
        201 confirmation shape without creating a row (BR-2.7) — bot filling
        gets no distinguishable signal. Resubmission with a previously-used
        idempotencyKey within 10 minutes returns the original confirmation
        rather than creating a duplicate (BR-2.6).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/InquiryCreateInput" }
      responses:
        "201":
          description: Inquiry received
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InquiryConfirmation" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429":
          description: Rate limit exceeded (BR-2.4)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /admin/inquiries:
    get:
      tags: [Inquiries]
      summary: List inquiries for triage
      security: [{ adminSession: [] }]
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [new, reviewed, responded, closed] }
        - name: inquiryType
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Inquiry inbox
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/InquiryAdmin" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/inquiries/{id}:
    patch:
      tags: [Inquiries]
      summary: Update inquiry status
      description: >
        Enforces sequential status transitions per BR-2.1. new -> reviewed is
        always required first. From reviewed, either responded or closed is
        valid (closed covers spam/irrelevant inquiries without requiring a
        fake responded step). new -> responded and new -> closed both return
        409, as does any other non-adjacent jump.
      security: [{ adminSession: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status: { type: string, enum: [reviewed, responded, closed] }
      responses:
        "200":
          description: Inquiry updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InquiryAdmin" }
        "409":
          description: Invalid status transition (BR-2.1)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  # ============================================================
  # LOOKUPS — one generic endpoint for every EXT-1 lookup table
  # ============================================================
  /lookups/{type}:
    get:
      tags: [Lookups]
      summary: Read lookup values for a given type
      description: >
        One contract for every open dimension in the system — Status, Domain,
        InquiryType, MilestoneType, SkillCategory, RepoRelationship. A new lookup type added
        under EXT-1 needs no new endpoint, only a new value of {type}.
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [status, domain, inquiry-type, milestone-type, skill-category, repo-relationship]
        - name: includeInactive
          in: query
          schema: { type: boolean, default: false }
          description: Admin-only param; ignored for unauthenticated requests (BR-8.2)
      responses:
        "200":
          description: List of lookup values for the given type
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/LookupValue" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Lookups]
      summary: Add a new lookup value (BR-8.1)
      security: [{ adminSession: [] }]
      parameters:
        - name: type
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [key, label]
              properties:
                key: { type: string }
                label: { type: string }
                stage: { $ref: "#/components/schemas/PipelineStage" }
                colorToken: { $ref: "#/components/schemas/StatusColorToken" }
                requiresOwnerPermission: { type: boolean, description: "type=repo-relationship only (BR-1.11)" }
                autoDraftOnShip: { type: boolean, description: "type=milestone-type only; choosing one hands the flag over from any other type" }
      responses:
        "201":
          description: Lookup value created. For type=status, stage defaults to queued and colorToken to signal-planned when omitted. Extras a type doesn't have are refused with 400.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LookupValue" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: |
            The key already exists. Code LOOKUP_KEY_DEPRECATED when the existing value is soft-deprecated —
            reactivate it instead of re-creating it (BR-8.3); LOOKUP_KEY_EXISTS when it is active.

  /lookups/{type}/{id}:
    patch:
      tags: [Lookups]
      summary: Edit an existing lookup value (label and its type's extras)
      description: The key is immutable (BR-8.3 keeps keys unique and stable). Changing a status's stage moves every system in that status between the shipped / in-progress / queued counts with no code change (EXT-1). Making a repo relationship require the owner's permission re-checks every system using it (BR-1.11).
      security: [{ adminSession: [] }]
      parameters:
        - name: type
          in: path
          required: true
          schema: { type: string }
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LookupUpdateInput" }
      responses:
        "200":
          description: Updated lookup value
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LookupValue" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: OWNER_PERMISSION_REQUIRED — a published system uses this relationship without the owner's granted permission (BR-1.11); unpublish it or record the permission first.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /lookups/{type}/{id}/deprecate:
    post:
      tags: [Lookups]
      summary: Soft-deprecate a lookup value in use (BR-8.2)
      description: Marks a value inactive without deleting it. Hard delete is a separate, unexposed operation reserved for never-used values.
      security: [{ adminSession: [] }]
      parameters:
        - name: type
          in: path
          required: true
          schema: { type: string }
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Value marked inactive
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # AUTH
  # ============================================================
  /admin/auth/login:
    post:
      tags: [Auth]
      summary: Admin login step 1 — credentials
      description: On success, returns a challenge requiring 2FA (BR-3.1). Never issues a session on this call alone.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        "200":
          description: Credentials accepted, 2FA challenge issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  challengeToken: { type: string }
        "401":
          description: Invalid credentials, or account locked (BR-3.2)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /admin/auth/verify-2fa:
    post:
      tags: [Auth]
      summary: Admin login step 2 — TOTP or recovery code verification
      description: >
        `code` is either a 6-digit TOTP code or a recovery code (Design
        System §5). 5 failed attempts against the same challengeToken
        invalidates it (BR-3.6) rather than allowing continued guessing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challengeToken, code]
              properties:
                challengeToken: { type: string }
                code: { type: string, minLength: 6, maxLength: 32 }
      responses:
        "200":
          description: Session established
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionExpiresAt: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # ============================================================
  # TIMELINE & CV
  # ============================================================
  /timeline:
    get:
      tags: [Timeline]
      summary: List public timeline entries
      parameters:
        - name: milestoneType
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Timeline entries, chronological
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/TimelineEntry" }

  /cv/generate:
    post:
      tags: [CV]
      summary: Generate the CV from current data (BR-7.1) — PDF or Word, the same content
      description: >
        The CV engine (#74). One structured CV built from the public views and
        the owner's profile, rendered ATS-safe (one column, standard headings,
        real text, links written out). A target role reorders projects, bullets
        and skills by relevance — it never rewrites content. Prior documents of
        the same role and format are superseded, never deleted (BR-7.2).
        Rate-limited per connection (platform settings cv.rateLimit.*).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                targetRole: { type: string, nullable: true, maxLength: 100 }
                format: { $ref: "#/components/schemas/CvFormat" }
      responses:
        "201":
          description: Generated document reference
          content:
            application/json:
              schema:
                type: object
                properties:
                  fileUrl: { type: string, format: uri }
                  generatedAt: { type: string, format: date-time }
                  format: { $ref: "#/components/schemas/CvFormat" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429":
          description: Rate limited
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  # ============================================================
  # ADMIN — TIMELINE
  # ============================================================
  /admin/timeline:
    get:
      tags: [Timeline]
      summary: List all timeline entries for management
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Full timeline entry list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/TimelineEntry" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Timeline]
      summary: Create a timeline entry
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TimelineCreateInput" }
      responses:
        "201":
          description: Timeline entry created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TimelineEntry" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/timeline/{id}:
    patch:
      tags: [Timeline]
      summary: Update a timeline entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TimelineCreateInput" }
      responses:
        "200":
          description: Timeline entry updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TimelineEntry" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Timeline]
      summary: Delete a timeline entry
      description: Timeline entries, unlike Systems, may be hard-deleted directly — they carry no publishing-state history worth preserving.
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # ADMIN — CV (Experience / Education / Skill)
  # ============================================================
  /admin/cv/experience:
    get:
      tags: [CV (Admin)]
      summary: List experience entries
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Experience list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ExperienceEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [CV (Admin)]
      summary: Create an experience entry
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ExperienceInput" }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/ExperienceEntry" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/cv/experience/{id}:
    patch:
      tags: [CV (Admin)]
      summary: Update an experience entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ExperienceInput" }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/ExperienceEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [CV (Admin)]
      summary: Delete an experience entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/cv/education:
    get:
      tags: [CV (Admin)]
      summary: List education entries
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Education list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/EducationEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [CV (Admin)]
      summary: Create an education entry
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EducationInput" }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/EducationEntry" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/cv/education/{id}:
    patch:
      tags: [CV (Admin)]
      summary: Update an education entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EducationInput" }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/EducationEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [CV (Admin)]
      summary: Delete an education entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/cv/skills:
    get:
      tags: [CV (Admin)]
      summary: List skills
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Skill list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/SkillEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [CV (Admin)]
      summary: Create a skill
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SkillInput" }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/SkillEntry" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/cv/skills/{id}:
    patch:
      tags: [CV (Admin)]
      summary: Update a skill
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SkillInput" }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/SkillEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [CV (Admin)]
      summary: Delete a skill
      description: Blocked with 409 if the skill is still referenced by any System or Experience (onDelete Restrict, mirrors BR-8.2 discipline).
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: Skill is still in use, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }

  # ============================================================
  # ADMIN — CV CHECK, PROFILE, ACHIEVEMENTS (#74)
  # ============================================================
  /admin/cv/check:
    get:
      tags: [CV (Admin)]
      summary: CV completeness report — score, issues, suggested summary, preview
      description: Reports what's missing or weak before generating. Never fills anything in; the suggested summary is drafted only from facts already on the CV.
      security: [{ adminSession: [] }]
      parameters:
        - name: targetRole
          in: query
          schema: { type: string, maxLength: 100 }
      responses:
        "200":
          description: The report
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CvCheck" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/profile:
    get:
      tags: [Profile (Admin)]
      summary: The owner's profile and links — the CV header and the site's owner details
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Profile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    patch:
      tags: [Profile (Admin)]
      summary: Edit profile fields (audited)
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfileUpdateInput" }
      responses:
        "200":
          description: Updated profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Profile" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/profile/links:
    post:
      tags: [Profile (Admin)]
      summary: Add a social or contact link
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfileLinkInput" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProfileLink" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/profile/links/{id}:
    patch:
      tags: [Profile (Admin)]
      summary: Edit a link (including whether the CV carries it)
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfileLinkInput" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProfileLink" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Profile (Admin)]
      summary: Remove a link
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Removed }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/achievements:
    get:
      tags: [Profile (Admin)]
      summary: List certifications and awards
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Achievement list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/Achievement" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Profile (Admin)]
      summary: Add a certification or award (starts as a draft unless contentStatus says otherwise)
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AchievementInput" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Achievement" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/achievements/{id}:
    patch:
      tags: [Profile (Admin)]
      summary: Edit an achievement; publishing it puts it on the site and the CV
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AchievementInput" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Achievement" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Profile (Admin)]
      summary: Remove an achievement
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Removed }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # ADMIN — SETTINGS (Flags, Visitor Lenses)
  # ============================================================
  /admin/settings/platform:
    get:
      tags: [Settings]
      summary: List every platform setting with its effective value (#67)
      description: |
        Tunables only — rate limits, SLAs, retention. Values a business rule fixes (BR-2.3, BR-3.2, BR-3.5)
        are deliberately not settings. A setting with no stored value reports its default (isDefault=true).
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: All registered settings
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/PlatformSetting" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/settings/platform/{key}:
    patch:
      tags: [Settings]
      summary: Change one setting, validated against its registered schema and bounds; audited
      security: [{ adminSession: [] }]
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string, example: inquiry.rateLimit.maxPerWindow }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PlatformSettingUpdateInput" }
      responses:
        "200":
          description: The setting after the change
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PlatformSetting" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/settings/flags:
    get:
      tags: [Settings (Admin)]
      summary: List all feature flags
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Flag list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/FlagEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/settings/flags/{key}:
    patch:
      tags: [Settings (Admin)]
      summary: Toggle a single feature flag (BR-4.4 — one at a time, no bulk-enable)
      security: [{ adminSession: [] }]
      parameters:
        - { name: key, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [enabled], properties: { enabled: { type: boolean } } }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/FlagEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/settings/lenses:
    get:
      tags: [Settings (Admin)]
      summary: List visitor lenses
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Lens list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/VisitorLensEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Settings (Admin)]
      summary: Create a visitor lens
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VisitorLensInput" }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/VisitorLensEntry" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/settings/lenses/{id}:
    patch:
      tags: [Settings (Admin)]
      summary: Update a visitor lens's priority content or AI framing prompt
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VisitorLensInput" }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/VisitorLensEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # ADMIN — ACTIVITY LOG (read-only, BR-3.4)
  # ============================================================
  /admin/activity-log:
    get:
      tags: [Activity Log (Admin)]
      summary: List activity log entries
      security: [{ adminSession: [] }]
      parameters:
        - name: entityType
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
      responses:
        "200":
          description: Activity log, most recent first
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/ActivityLogEntry" } }
                  meta: { $ref: "#/components/schemas/PageMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }

components:
  securitySchemes:
    adminSession:
      type: apiKey
      in: cookie
      name: admin_session
      description: HTTP-only session cookie, issued only after 2FA verification (BR-3.1)

  responses:
    BadRequest:
      description: Validation failed
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Unauthorized:
      description: Missing or invalid admin session
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum:
                - VALIDATION_ERROR
                - UNAUTHORIZED
                - NOT_FOUND
                - CLIENT_APPROVAL_REQUIRED
                - INVALID_STATUS_TRANSITION
                - RATE_LIMITED
                - ACCOUNT_LOCKED
                - CHALLENGE_EXPIRED
                - CHALLENGE_INVALID
                - LOOKUP_KEY_DEPRECATED
                - LOOKUP_KEY_EXISTS
                - OWNER_PERMISSION_REQUIRED
                - INTERNAL_ERROR
              description: Closed set, kept in lockstep with lib/schemas.ts ErrorCodeEnum — never a freeform string.
            message: { type: string }
            details: { type: object, nullable: true }

    PageMeta:
      type: object
      properties:
        page: { type: integer }
        pageSize: { type: integer }
        total: { type: integer }

    LookupValue:
      type: object
      properties:
        id: { type: string }
        key: { type: string }
        label: { type: string }
        active: { type: boolean }
        stage: { $ref: "#/components/schemas/PipelineStage", description: "type=status only" }
        colorToken: { $ref: "#/components/schemas/StatusColorToken", description: "type=status only" }
        requiresOwnerPermission: { type: boolean, description: "type=repo-relationship only — publishing needs the repo owner's permission (BR-1.11)" }
        autoDraftOnShip: { type: boolean, description: "type=milestone-type only — the type a system's first ship is auto-drafted as" }

    PipelineStage:
      type: string
      enum: [shipped, building, queued]
      description: Which homepage count a Status belongs to. A fixed control dimension (EXT-1 exception, like ContentStatus); the statuses themselves stay an open lookup.

    StatusColorToken:
      type: string
      enum: [signal-finished, signal-progress, signal-planned]
      description: Curated, contrast-checked palette a Status may use (DESIGN-SYSTEM.md §1).

    PlatformSetting:
      type: object
      properties:
        key: { type: string }
        value: { description: "Effective value (the stored override, or the default)" }
        default: { description: "Registry default — the business-rule value" }
        isDefault: { type: boolean }
        description: { type: string }
        rule: { type: string, example: BR-2.4 }
        updatedAt: { type: string, format: date-time, nullable: true }

    PlatformSettingUpdateInput:
      type: object
      required: [value]
      properties:
        value: { description: "Must satisfy the setting's registered type and bounds" }

    LookupUpdateInput:
      type: object
      properties:
        label: { type: string, minLength: 1 }
        stage: { $ref: "#/components/schemas/PipelineStage" }
        colorToken: { $ref: "#/components/schemas/StatusColorToken" }
        requiresOwnerPermission: { type: boolean }
        autoDraftOnShip: { type: boolean }

    OwnerPermission:
      type: string
      enum: [not_required, not_requested, requested, granted, declined]
      description: The repo owner's answer for a collaborated system (BR-1.11). A fixed control state; the database keeps it consistent with the repo relationship.

    SystemPublic:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        organization: { type: string }
        status: { type: string }
        statusColorToken: { type: string, description: "CSS custom-property/Tailwind token name (e.g. signal-finished) — status color is data (EXT-1), not a client-side hardcoded map" }
        domain: { type: string, nullable: true }
        description: { type: string }
        repoUrl: { type: string, nullable: true, description: "Null when clientVisibility = NDA_RESTRICTED (BR-1.3) or the repo is private (BR-1.7)" }
        liveUrl: { type: string, nullable: true }
        screenshotUrl: { type: string, nullable: true, description: "Homepage preview image; renders a technical placeholder when absent" }
        techStack: { type: array, items: { type: string } }
        isFlagship: { type: boolean }
        repoPrivate: { type: boolean, description: "BR-1.7 — shown as a private repository; access is available on request" }

    SystemPublicDetailed:
      allOf:
        - $ref: "#/components/schemas/SystemPublic"
        - type: object
          properties:
            caseStudyBody: { type: string }
            impacts:
              type: array
              items:
                type: object
                properties:
                  label: { type: string }
                  value: { type: string }
            testimonials:
              type: array
              items: { $ref: "#/components/schemas/TestimonialPublic" }

    TestimonialPublic:
      type: object
      description: Only ever returned where hasPermission=true (BR-6.1)
      properties:
        authorName: { type: string }
        authorRole: { type: string, nullable: true }
        organization: { type: string, nullable: true }
        quote: { type: string }

    SystemAdmin:
      allOf:
        - $ref: "#/components/schemas/SystemPublicDetailed"
        - type: object
          properties:
            contentStatus: { type: string, enum: [draft, published, archived] }
            clientVisibility: { type: string, enum: [PUBLIC, REQUIRES_APPROVAL, NDA_RESTRICTED, ANONYMIZED_ONLY] }
            clientApproved: { type: boolean, description: "Authorizes publishing (BR-1.1) — see nameDisclosureApproved for real-name authorization" }
            nameDisclosureApproved: { type: boolean, description: "Separate from clientApproved (BR-1.4) — authorizes revealing the real org name for an ANONYMIZED_ONLY system" }
            needsCuration: { type: boolean }
            sortOrder: { type: integer }
            featuredOnHome: { type: boolean, description: "Admin-chosen for the homepage (published systems only are shown)" }
            homeOrder: { type: integer, description: "Order among homepage-featured systems, ascending" }
            onCv: { type: boolean, description: "Listed under Projects on the CV (published systems only)" }
            cvOrder: { type: integer }
            repoRelationship: { type: string, nullable: true, description: "RepoRelationship key (e.g. owner, collaborator)" }
            ownerPermission: { $ref: "#/components/schemas/OwnerPermission" }
            ownerPermissionFrom: { type: string, nullable: true, description: "Who granted or declined — the repo owner's name or GitHub login" }
            ownerPermissionAt: { type: string, format: date-time, nullable: true, description: "Set by the database when the answer changes" }
            ownerPermissionNote: { type: string, nullable: true }
            github:
              type: object
              description: Sourced from GitHub by the sync; null values until synced
              properties:
                fullName: { type: string, nullable: true }
                ownerLogin: { type: string, nullable: true }
                pushedAt: { type: string, format: date-time, nullable: true }
                languages: { type: object, nullable: true, additionalProperties: { type: integer }, description: "Bytes per language" }
                topics: { type: array, items: { type: string } }
                stars: { type: integer, nullable: true }
                syncedAt: { type: string, format: date-time, nullable: true }

    SystemCreateInput:
      type: object
      required: [name, slug, organizationId, statusId, description]
      properties:
        name: { type: string }
        slug: { type: string }
        organizationId: { type: string }
        statusId: { type: string }
        domainId: { type: string, nullable: true }
        description: { type: string }
        repoUrl: { type: string, nullable: true }
        liveUrl: { type: string, nullable: true }
        screenshotUrl: { type: string, nullable: true }
        techStack: { type: array, items: { type: string } }
        clientVisibility: { type: string, enum: [PUBLIC, REQUIRES_APPROVAL, NDA_RESTRICTED, ANONYMIZED_ONLY] }

    SystemUpdateInput:
      type: object
      properties:
        contentStatus: { type: string, enum: [draft, published, archived] }
        clientApproved: { type: boolean }
        nameDisclosureApproved: { type: boolean }
        isFlagship: { type: boolean }
        sortOrder: { type: integer }
        featuredOnHome: { type: boolean }
        homeOrder: { type: integer, minimum: 0 }
        onCv: { type: boolean }
        cvOrder: { type: integer, minimum: 0 }
        repoRelationship: { type: string, nullable: true, description: "A RepoRelationship key; null clears it" }
        ownerPermission: { type: string, enum: [not_requested, requested, granted, declined] }
        ownerPermissionFrom: { type: string, nullable: true, description: "Required (by the database) when the answer is granted or declined" }
        ownerPermissionNote: { type: string, nullable: true }
        caseStudyBody: { type: string }
        repoUrl: { type: string, nullable: true }
        liveUrl: { type: string, nullable: true }
        screenshotUrl: { type: string, nullable: true }

    InquiryCreateInput:
      type: object
      required: [name, email, message, inquiryType]
      properties:
        name: { type: string, minLength: 1 }
        email: { type: string, format: email }
        message: { type: string, minLength: 20, maxLength: 5000, description: "BR-2.3" }
        inquiryType:
          type: string
          enum: [hire, partnership, service, contribution, recruitment, collaboration]
        source: { type: string, nullable: true, description: "Captured automatically, not client-supplied (BR-2.5); \"direct\" when no Referer header is present" }
        idempotencyKey: { type: string, format: uuid, nullable: true, description: "Optional; dedupes a resubmission within 10 minutes (BR-2.6)" }

    InquiryConfirmation:
      type: object
      properties:
        id: { type: string }
        status: { type: string, example: "new" }
        submittedAt: { type: string, format: date-time }

    InquiryAdmin:
      allOf:
        - $ref: "#/components/schemas/InquiryConfirmation"
        - type: object
          properties:
            name: { type: string }
            email: { type: string }
            message: { type: string }
            inquiryType: { type: string }
            source: { type: string, nullable: true }

    TimelineEntry:
      type: object
      properties:
        id: { type: string }
        milestoneType: { type: string }
        title: { type: string }
        description: { type: string, nullable: true }
        date: { type: string, format: date }
        tags: { type: array, items: { type: string } }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Public reads return published entries only" }
        autoDrafted: { type: boolean, description: "Drafted by the database when a system first shipped; awaits the admin's approval" }
        systemId: { type: string, nullable: true }

    TimelineCreateInput:
      type: object
      required: [milestoneTypeId, title, date]
      properties:
        milestoneTypeId: { type: string }
        title: { type: string, minLength: 1 }
        description: { type: string, nullable: true }
        date: { type: string, format: date }
        media: { type: string, nullable: true }
        tags: { type: array, items: { type: string }, default: [] }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Omitted on create = published; omitted on update = unchanged. Publishing an auto-drafted entry approves it." }

    ExperienceEntry:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        organization: { type: string }
        location: { type: string, nullable: true }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date, nullable: true }
        description: { type: string }
        highlights: { type: array, items: { type: string }, description: "CV achievement bullets, in order" }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Only published roles appear on /cv and in the generated CV" }
        skills: { type: array, items: { type: string } }

    ExperienceInput:
      type: object
      required: [title, organization, startDate, description]
      properties:
        title: { type: string, minLength: 1 }
        organization: { type: string, minLength: 1 }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date, nullable: true }
        location: { type: string, nullable: true }
        description: { type: string, minLength: 1 }
        highlights: { type: array, items: { type: string, maxLength: 300 }, maxItems: 15, default: [] }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Omitted on create = published; omitted on update = unchanged" }
        skillIds: { type: array, items: { type: string }, default: [] }

    EducationEntry:
      type: object
      properties:
        id: { type: string }
        institution: { type: string }
        qualification: { type: string }
        fieldOfStudy: { type: string, nullable: true }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date, nullable: true, description: "null = still studying" }
        honors: { type: string, nullable: true }
        description: { type: string, nullable: true }
        certificateUrl: { type: string, nullable: true, description: "https only (database CHECK)" }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Only published entries appear on /cv and in the generated CV" }
        skills: { type: array, items: { type: string }, description: "Skill names this qualification taught" }
        expectedGraduation: { type: string, format: date, nullable: true, description: "For a degree in progress" }
        coursework: { type: array, items: { type: string }, description: "Relevant modules" }

    EducationInput:
      type: object
      required: [institution, qualification, startDate]
      properties:
        institution: { type: string, minLength: 1 }
        qualification: { type: string, minLength: 1 }
        fieldOfStudy: { type: string, nullable: true }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date, nullable: true }
        honors: { type: string, nullable: true }
        description: { type: string, nullable: true }
        certificateUrl: { type: string, nullable: true, pattern: "^https://" }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Omitted on create = published; omitted on update = unchanged" }
        skillIds: { type: array, items: { type: string }, default: [], description: "Replaces the entry's skill links" }
        expectedGraduation: { type: string, format: date, nullable: true, description: "Only for a degree in progress (no endDate) — database CHECK" }
        coursework: { type: array, items: { type: string, maxLength: 120 }, maxItems: 30, default: [] }

    SkillEntry:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        category: { type: string }
        yearsExperience: { type: number, nullable: true }

    SkillInput:
      type: object
      required: [name, categoryId]
      properties:
        name: { type: string, minLength: 1 }
        categoryId: { type: string }
        yearsExperience: { type: number, nullable: true }

    FlagEntry:
      type: object
      properties:
        id: { type: string }
        key: { type: string }
        enabled: { type: boolean }
        notes: { type: string, nullable: true }

    VisitorLensEntry:
      type: object
      properties:
        id: { type: string }
        key: { type: string }
        label: { type: string }
        priorityContent: { type: object }
        aiFramingPrompt: { type: string }

    VisitorLensInput:
      type: object
      required: [key, label, priorityContent, aiFramingPrompt]
      properties:
        key: { type: string, minLength: 1 }
        label: { type: string, minLength: 1 }
        priorityContent: { type: object }
        aiFramingPrompt: { type: string, minLength: 1 }

    CvFormat:
      type: string
      enum: [pdf, docx]
      default: pdf
      description: The same CV in two formats (#74)

    CvIssue:
      type: object
      properties:
        severity: { type: string, enum: [error, warning, tip], description: "error = not ready (e.g. no name or email)" }
        section: { type: string, enum: [contact, summary, experience, projects, education, skills, targetRole] }
        message: { type: string }

    CvCheck:
      type: object
      properties:
        score: { type: integer, minimum: 0, maximum: 100 }
        ready: { type: boolean }
        issues: { type: array, items: { $ref: "#/components/schemas/CvIssue" } }
        suggestedSummary: { type: string, nullable: true, description: "Drafted only from facts on the CV; offered, never saved" }
        preview: { type: object, description: "The CV model that would be rendered" }

    ProfileLink:
      type: object
      properties:
        id: { type: string }
        kind: { type: string, example: github }
        label: { type: string }
        url: { type: string }
        sortOrder: { type: integer }
        onCv: { type: boolean }

    ProfileLinkInput:
      type: object
      required: [kind, label, url]
      properties:
        kind: { type: string, pattern: "^[a-z0-9]+(-[a-z0-9]+)*$" }
        label: { type: string, minLength: 1 }
        url: { type: string, description: "https:// or mailto: only (database CHECK)" }
        sortOrder: { type: integer, minimum: 0, default: 0 }
        onCv: { type: boolean, default: true }

    Profile:
      type: object
      properties:
        displayName: { type: string }
        initials: { type: string, nullable: true }
        headline: { type: string, nullable: true, example: "Software & AI Engineer" }
        role: { type: string }
        location: { type: string, nullable: true }
        email: { type: string }
        phone: { type: string, nullable: true, description: "On the CV only when set" }
        summary: { type: string, nullable: true, description: "The CV's professional summary" }
        bio: { type: string, nullable: true }
        availability: { type: string, nullable: true }
        buildingSinceYear: { type: integer, nullable: true }
        links: { type: array, items: { $ref: "#/components/schemas/ProfileLink" } }
        updatedAt: { type: string, format: date-time }

    ProfileUpdateInput:
      type: object
      description: Any subset of the fields; at least one.
      properties:
        displayName: { type: string, minLength: 1 }
        initials: { type: string, nullable: true }
        headline: { type: string, nullable: true }
        role: { type: string, minLength: 1 }
        location: { type: string, nullable: true }
        email: { type: string, format: email }
        phone: { type: string, nullable: true, pattern: "^\\+?[0-9][0-9 ()-]{6,19}$" }
        summary: { type: string, nullable: true, maxLength: 1200 }
        bio: { type: string, nullable: true }
        availability: { type: string, nullable: true }
        buildingSinceYear: { type: integer, nullable: true, minimum: 1990, maximum: 2100 }

    Achievement:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        issuer: { type: string, nullable: true }
        achievedOn: { type: string, format: date }
        description: { type: string, nullable: true }
        url: { type: string, nullable: true }
        systemId: { type: string, nullable: true }
        contentStatus: { type: string, enum: [draft, published, archived] }
        sortOrder: { type: integer }

    AchievementInput:
      type: object
      required: [title, achievedOn]
      properties:
        title: { type: string, minLength: 1 }
        issuer: { type: string, nullable: true }
        achievedOn: { type: string, format: date }
        description: { type: string, nullable: true }
        url: { type: string, nullable: true, pattern: "^https://" }
        systemId: { type: string, nullable: true }
        contentStatus: { type: string, enum: [draft, published, archived], description: "Omitted on create = draft" }
        sortOrder: { type: integer, minimum: 0, default: 0 }

    ActivityLogEntry:
      type: object
      description: Append-only (F1.3). Request context is exposed only as keyed hashes — comparable across entries, never reversible.
      properties:
        id: { type: string }
        actorType: { type: string, enum: [admin, anonymous, system] }
        adminUserEmail: { type: string, nullable: true, description: "Null for anonymous and system actors" }
        subjectHash: { type: string, nullable: true, description: "Keyed hash of what an anonymous actor tried, e.g. an unknown login email" }
        ipHash: { type: string, nullable: true }
        userAgentHash: { type: string, nullable: true }
        action: { type: string, description: "Data changes are logged by the database as <table>.<create|update|delete> (e.g. system.update), with only the changed columns and secrets/PII redacted; auth events keep their own names (auth.login, auth.login_failed, …)" }
        entityType: { type: string, nullable: true }
        entityId: { type: string, nullable: true }
        before: { type: object, nullable: true }
        after: { type: object, nullable: true }
        createdAt: { type: string, format: date-time }
