openapi: 3.0.3
info:
  title: MALULEKE-KS Platform API
  version: "1.0.0"
  description: >
    Contract-first specification for the MALULEKE-KS platform.
    Derives from PLATFORM-CONSTITUTION-v1.md and BUSINESS-RULES-v1.md.
    Zod schemas are generated from this contract, never hand-written independently of it.
servers:
  - url: https://malulekeks.dev/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development

tags:
  - name: Systems (Public)
  - name: Systems (Admin)
  - name: Inquiries
  - name: Lookups
  - name: Auth
  - name: Timeline
  - name: CV
  - name: CV (Admin)
  - name: Profile (Admin)
  - name: Settings (Admin)
  - name: Activity Log (Admin)
  - name: Content (Public)
  - name: Content (Admin)

security:
  - {}

paths:
  # ============================================================
  # PUBLIC — SYSTEMS
  # ============================================================
  /systems:
    get:
      tags: [Systems (Public)]
      summary: List published systems
      description: >
        Returns only System rows where contentStatus = published.
        Per BR-1.1, NDA_RESTRICTED and unapproved REQUIRES_APPROVAL systems
        never appear here regardless of query parameters.
      parameters:
        - name: organization
          in: query
          schema: { type: string }
          description: Filter by organization slug
        - name: domain
          in: query
          schema: { type: string }
          description: Filter by domain key
        - name: status
          in: query
          schema: { type: string }
          description: Filter by status key (finished / in_progress / planned)
        - name: flagship
          in: query
          schema: { type: boolean }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        "200":
          description: Paginated list of public systems
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/SystemPublic" }
                  meta: { $ref: "#/components/schemas/PageMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }

  /systems/{slug}:
    get:
      tags: [Systems (Public)]
      summary: Get a single published system by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: A single public system, including case study body
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SystemPublicDetailed" }
        "308":
          description: "The slug the system used before a rename — permanent redirect (Location) to its current slug (#87, BR-1.14). Only for a system the visitor can see."
        "404": { $ref: "#/components/responses/NotFound" }

  /organizations:
    get:
      tags: [Systems (Public)]
      summary: List organizations that have at least one published system
      description: >
        For the /systems catalog filter bar. Never includes an organization
        with zero published systems — this is a filter-options list, not a
        general org directory.
      responses:
        "200":
          description: List of organizations with public content
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    name: { type: string }
                    slug: { type: string }

  # ============================================================
  # ADMIN — SYSTEMS
  # ============================================================
  /admin/systems:
    get:
      tags: [Systems (Admin)]
      summary: List all systems, any content status
      security: [{ adminSession: [] }]
      parameters:
        - name: contentStatus
          in: query
          schema: { type: string, enum: [draft, published, archived] }
        - name: needsCuration
          in: query
          schema: { type: boolean }
      responses:
        "200":
          description: Full system list including drafts and NDA-restricted entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/SystemAdmin" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Systems (Admin)]
      summary: Register a new system manually
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SystemCreateInput" }
      responses:
        "201":
          description: System created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SystemAdmin" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/systems/{id}:
    get:
      tags: [Systems (Admin)]
      summary: Get one system with its unmasked curation detail
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Full system detail, including skills, status history, pace and activity }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Systems (Admin)]
      summary: Update a system, including publishing state transitions
      description: >
        BR-1.1 is enforced here: a request that sets contentStatus=published
        while clientVisibility != PUBLIC and clientApproved=false returns 409.
        BR-1.11: when the system's repo relationship requires the repo owner's
        permission, publishing without a granted answer returns 409
        OWNER_PERMISSION_REQUIRED. The database enforces both.
      security: [{ adminSession: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SystemUpdateInput" }
      responses:
        "200":
          description: Updated system
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SystemAdmin" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "409":
          description: |
            Publishing blocked. CLIENT_APPROVAL_REQUIRED — client approval required (BR-1.1).
            OWNER_PERMISSION_REQUIRED — a collaborated system needs the repo owner's granted permission (BR-1.11).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  # ============================================================
  # INQUIRIES
  # ============================================================
  /inquiries:
    post:
      tags: [Inquiries]
      summary: Let's Talk — submit a message (docs/LETS-TALK-SPEC.md)
      description: >
        The single visitor write path, used identically by the form and the AI
        guide's draft (BR-4.2). JSON, or multipart/form-data with a "payload"
        JSON field plus up to inquiry.documents.maxFiles "documents" (PDF only,
        checked by their bytes, at most inquiry.documents.maxMegabytes in total;
        413 above the platform's request limit). Requires a formToken from GET
        /inquiries/form at least inquiry.minFillSeconds old (a missing, forged
        or too-fast token is treated like the honeypot; an expired one is 400
        FORM_EXPIRED). The honeypot "website" returns the same 201 with a
        plausible reference and stores nothing (BR-2.7). Rate-limited per
        connection (BR-2.4) and per email address (inquiry.rateLimit.perEmailPerDay).
        The category's own fields go in "details", validated by its form
        (LT-1/LT-2); a field another category uses is refused. A reused
        idempotencyKey returns the original confirmation within 10 minutes when
        the payload is the same, 409 CONFLICT when it isn't (BR-2.6). Returns
        the reference (LT-3) — it identifies, never authorises.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/InquiryCreateInput" }
          multipart/form-data:
            schema:
              type: object
              properties:
                payload: { type: string, description: "InquiryCreateInput as JSON" }
                documents: { type: array, items: { type: string, format: binary } }
      responses:
        "201":
          description: Received — with the reference to quote
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InquiryConfirmation" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "409":
          description: The idempotency key was already used for a different message
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "413":
          description: Attachments over the request limit
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "429":
          description: Rate limit exceeded (per connection or per address)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /inquiries/form:
    get:
      tags: [Inquiries]
      summary: A signed form token (the fill-time check)
      description: Fetched when the form is shown; sent back as formToken. Never cached.
      responses:
        "200":
          description: The token
          content:
            application/json:
              schema: { type: object, properties: { token: { type: string } } }

  /inquiries/types:
    get:
      tags: [Inquiries]
      summary: Let's Talk categories, with their kinds and forms (LT-1)
      description: Active categories in the admin's order — value, label, description, the form it uses (recruitment | service | collaboration | growth | general), and its active subtypes.
      responses:
        "200":
          description: The categories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    value: { type: string }
                    label: { type: string }
                    description: { type: string, nullable: true }
                    form: { type: string }
                    subtypes: { type: array, items: { type: object, properties: { value: { type: string }, label: { type: string } } } }

  /admin/inquiries:
    get:
      tags: [Inquiries]
      summary: List inquiries for triage
      security: [{ adminSession: [] }]
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [new, reviewed, responded, closed, needs_info, accepted, declined, on_hold, withdrawn] }
        - name: inquiryType
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Inquiry inbox
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/InquiryAdmin" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/inquiries/{id}:
    get:
      tags: [Inquiries]
      summary: One inquiry in full
      description: Contact, the category's details, compensation, meetings, documents (metadata), status history, applicant-facing messages, private notes and its emails — with the moves allowed next and the version to send back.
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: The inquiry, content: { application/json: { schema: { type: object } } } }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Inquiries]
      summary: Move an inquiry on, or set its priority (LT-6)
      description: >
        Either { priority: low|normal|high|urgent } (admin metadata — it never
        decides anything), or a status change. Allowed moves are a database
        trigger: NEW → REVIEWED first (BR-2.1); then needs_info, responded (in
        discussion), accepted, declined, on_hold, withdrawn, closed; decisions
        reopen to reviewed with history kept. expectedVersion makes a change
        from a stale screen 409 STALE. internalReason is private;
        applicantMessage is stored as what the applicant was told (and emailed
        only with applicant emails on). The database records every change.
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status: { type: string, enum: [reviewed, responded, closed, needs_info, accepted, declined, on_hold, withdrawn] }
                expectedVersion: { type: integer }
                internalReason: { type: string, maxLength: 2000 }
                applicantMessage: { type: string, maxLength: 5000 }
                priority: { type: string, enum: [low, normal, high, urgent] }
      responses:
        "200":
          description: Inquiry updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InquiryAdmin" }
        "409":
          description: INVALID_STATUS_TRANSITION or STALE
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /admin/inquiries/{id}/notes:
    post:
      tags: [Inquiries]
      summary: Add a private note (LT-7 — never reaches the applicant)
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, required: [body], properties: { body: { type: string, maxLength: 5000 } } } } }
      responses:
        "201": { description: Note added }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/inquiries/{id}/messages:
    post:
      tags: [Inquiries]
      summary: Write to the applicant, or ask for information (LT-7)
      description: Stored as applicant-facing. Emailed when notifications.applicant_emails is on; otherwise channel "manual" — sent by the owner directly. Doesn't change the status.
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind, body]
              properties:
                kind: { type: string, enum: [message, info-request] }
                body: { type: string, maxLength: 5000 }
                requestedItems: { type: array, maxItems: 12, items: { type: string } }
                dueAt: { type: string, format: date-time }
      responses:
        "201": { description: Recorded }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: The inquiry was anonymised }

  /admin/inquiries/{id}/meetings:
    post:
      tags: [Inquiries]
      summary: Schedule an interview or meeting (LT-5)
      description: startsAtLocal is wall-clock time in timeZone (IANA) — never assumed.
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind, startsAtLocal, timeZone]
              properties:
                kind: { type: string, enum: [hr, technical, manager, panel, discovery, client, general, other] }
                startsAtLocal: { type: string, example: "2026-10-14T10:00" }
                timeZone: { type: string, example: "Europe/London" }
                durationMinutes: { type: integer, minimum: 5, maximum: 480 }
                location: { type: string }
                link: { type: string }
                contactPerson: { type: string }
                instructions: { type: string }
      responses:
        "201": { description: Scheduled }
        "400": { $ref: "#/components/responses/BadRequest" }

  /admin/inquiries/{id}/meetings/{meetingId}:
    patch:
      tags: [Inquiries]
      summary: Reschedule, complete, cancel or mark a no-show (LT-5)
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: meetingId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, properties: { state: { type: string, enum: [completed, cancelled, no_show, rescheduled] }, startsAtLocal: { type: string }, timeZone: { type: string }, durationMinutes: { type: integer } } } } }
      responses:
        "200": { description: Updated }
        "404": { description: Not this inquiry's meeting }

  /admin/inquiries/{id}/documents/{documentId}:
    get:
      tags: [Inquiries]
      summary: Download an applicant's PDF (LT-8)
      description: Always an attachment, nosniff, sandboxed, never cached; only a document belonging to the inquiry in the path.
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: documentId, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: The PDF, content: { application/pdf: { schema: { type: string, format: binary } } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/notifications:
    get:
      tags: [Inquiries]
      summary: The email outbox (LT-10)
      description: Newest first; ?state=pending|failed. Says whether email is connected at all.
      security: [{ adminSession: [] }]
      responses:
        "200": { description: The outbox, content: { application/json: { schema: { type: object } } } }

  /admin/notifications/{id}/retry:
    post:
      tags: [Inquiries]
      summary: Retry a waiting or failed email now
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Tried — the result is in state and lastError }
        "409": { description: Already sent, or email isn't connected }

  /admin/inquiry-subtypes:
    get:
      tags: [Inquiries]
      summary: Every category's kinds, active and retired
      security: [{ adminSession: [] }]
      responses:
        "200": { description: The subtypes }
    post:
      tags: [Inquiries]
      summary: Add a kind to a category (EXT-1)
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, required: [inquiryType, key, label], properties: { inquiryType: { type: string }, key: { type: string }, label: { type: string }, sortOrder: { type: integer } } } } }
      responses:
        "201": { description: Added }
        "409": { description: LOOKUP_KEY_EXISTS }

  /admin/inquiry-subtypes/{id}:
    patch:
      tags: [Inquiries]
      summary: Rename, reorder, retire or restore a kind (BR-8.2 — never deleted; "other" can't be retired)
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, properties: { label: { type: string }, sortOrder: { type: integer }, active: { type: boolean } } } } }
      responses:
        "200": { description: Updated }
        "409": { description: The other option can't be retired }

  # ============================================================
  # LOOKUPS — one generic endpoint for every EXT-1 lookup table
  # ============================================================
  /lookups/{type}:
    get:
      tags: [Lookups]
      summary: Read lookup values for a given type
      description: >
        One contract for every open dimension in the system — Status, Domain,
        InquiryType, MilestoneType, SkillCategory, RepoRelationship. A new lookup type added
        under EXT-1 needs no new endpoint, only a new value of {type}.
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [status, domain, inquiry-type, milestone-type, skill-category, repo-relationship, title-kind, organization-kind]
        - name: includeInactive
          in: query
          schema: { type: boolean, default: false }
          description: Admin-only param; ignored for unauthenticated requests (BR-8.2)
      responses:
        "200":
          description: List of lookup values for the given type
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/LookupValue" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Lookups]
      summary: Add a new lookup value (BR-8.1)
      security: [{ adminSession: [] }]
      parameters:
        - name: type
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [key, label]
              properties:
                key: { type: string }
                label: { type: string }
                stage: { $ref: "#/components/schemas/PipelineStage" }
                colorToken: { $ref: "#/components/schemas/StatusColorToken" }
                requiresOwnerPermission: { type: boolean, description: "type=repo-relationship only (BR-1.11)" }
                autoDraftOnShip: { type: boolean, description: "type=milestone-type only; choosing one hands the flag over from any other type" }
      responses:
        "201":
          description: Lookup value created. For type=status, stage defaults to queued and colorToken to signal-planned when omitted. Extras a type doesn't have are refused with 400.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LookupValue" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: |
            The key already exists. Code LOOKUP_KEY_DEPRECATED when the existing value is soft-deprecated —
            reactivate it instead of re-creating it (BR-8.3); LOOKUP_KEY_EXISTS when it is active.

  /lookups/{type}/{id}:
    patch:
      tags: [Lookups]
      summary: Edit an existing lookup value (label and its type's extras)
      description: The key is immutable (BR-8.3 keeps keys unique and stable). Changing a status's stage moves every system in that status between the shipped / in-progress / queued counts with no code change (EXT-1). Making a repo relationship require the owner's permission re-checks every system using it (BR-1.11).
      security: [{ adminSession: [] }]
      parameters:
        - name: type
          in: path
          required: true
          schema: { type: string }
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LookupUpdateInput" }
      responses:
        "200":
          description: Updated lookup value
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LookupValue" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: OWNER_PERMISSION_REQUIRED — a published system uses this relationship without the owner's granted permission (BR-1.11); unpublish it or record the permission first.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /lookups/{type}/{id}/deprecate:
    post:
      tags: [Lookups]
      summary: Soft-deprecate a lookup value in use (BR-8.2)
      description: Marks a value inactive without deleting it. Hard delete is a separate, unexposed operation reserved for never-used values.
      security: [{ adminSession: [] }]
      parameters:
        - name: type
          in: path
          required: true
          schema: { type: string }
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Value marked inactive
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # AUTH
  # ============================================================
  /admin/auth/login:
    post:
      tags: [Auth]
      summary: Admin login step 1 — credentials
      description: On success, returns a challenge requiring 2FA (BR-3.1). Never issues a session on this call alone.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        "200":
          description: Credentials accepted, 2FA challenge issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  challengeToken: { type: string }
        "401":
          description: Invalid credentials, or account locked (BR-3.2)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /admin/auth/verify-2fa:
    post:
      tags: [Auth]
      summary: Admin login step 2 — TOTP or recovery code verification
      description: >
        `code` is either a 6-digit TOTP code or a recovery code (Design
        System §5). 5 failed attempts against the same challengeToken
        invalidates it (BR-3.6) rather than allowing continued guessing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challengeToken, code]
              properties:
                challengeToken: { type: string }
                code: { type: string, minLength: 6, maxLength: 32 }
      responses:
        "200":
          description: Session established
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionExpiresAt: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/auth/recovery-codes:
    get: { tags: [Auth], summary: "How many unused recovery codes remain, and whether that's low (< 3, BR-3.12)", security: [{ adminSession: [] }], responses: { "200": { description: "{ remaining, low }" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    post:
      tags: [Auth]
      summary: Regenerate the recovery codes — ten new ones, shown once; every old code stops working (BR-3.11, BR-3.12)
      description: "Needs the current password and a live, single-use TOTP code; failures count against the session like a password change (the fifth ends it: SESSION_REVOKED)."
      security: [{ adminSession: [] }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [currentPassword, code], properties: { currentPassword: { type: string, format: password }, code: { type: string, pattern: "^\\d{6}$" } } } } } }
      responses:
        "200": { description: "{ codes: string[10], remaining: 10, low: false } — show once, never retrievable again" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { description: "UNAUTHORIZED (credentials) or SESSION_REVOKED (fifth failure)", content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }

  /admin/auth/logout:
    post:
      tags: [Auth]
      summary: Sign out — ends every session of the admin, not just this one (#104)
      description: "Increments the session generation (like a password change) and clears the cookie. Logged as auth.logout."
      security: [{ adminSession: [] }]
      responses:
        "200": { description: "{ signedOut: true }" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/auth/change-password:
    post:
      tags: [Auth]
      summary: Change the admin password and invalidate every prior session
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword, code]
              properties:
                currentPassword: { type: string, format: password }
                newPassword: { type: string, format: password, minLength: 12, maxLength: 256 }
                code: { type: string, pattern: "^\\d{6}$" }
      responses:
        "200": { description: Password changed and replacement session established; every older session has ended (BR-3.15) }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: >-
            UNAUTHORIZED — the current password or TOTP code was wrong (codes are single-use, BR-3.14).
            SESSION_REVOKED — the fifth failed attempt on this session ended it; sign in again.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  # ============================================================
  # TIMELINE & CV
  # ============================================================
  /timeline:
    get:
      tags: [Timeline]
      summary: List public timeline entries
      parameters:
        - name: milestoneType
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Timeline entries, chronological
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/TimelineEntry" }

  /cv/generate:
    post:
      tags: [CV]
      summary: Generate the CV from current data (BR-7.1) — PDF or Word, the same content
      description: >
        The CV engine (#74). One structured CV built from the public views and
        the owner's profile, rendered ATS-safe (one column, standard headings,
        real text, links written out). A target role reorders projects, bullets
        and skills by relevance — it never rewrites content. Prior documents of
        the same role and format are superseded, never deleted (BR-7.2).
        Rate-limited per connection (platform settings cv.rateLimit.*).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                targetRole: { type: string, nullable: true, maxLength: 100 }
                format: { $ref: "#/components/schemas/CvFormat" }
      responses:
        "201":
          description: Generated document reference
          content:
            application/json:
              schema:
                type: object
                properties:
                  fileUrl: { type: string, format: uri }
                  generatedAt: { type: string, format: date-time }
                  format: { $ref: "#/components/schemas/CvFormat" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { description: "The generated CV option is hidden by the admin (BR-7.5)", content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429":
          description: Rate limited
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  # ============================================================
  # ADMIN — TIMELINE
  # ============================================================
  /admin/timeline:
    get:
      tags: [Timeline]
      summary: List all timeline entries for management
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Full timeline entry list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/TimelineEntry" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Timeline]
      summary: Create a timeline entry
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TimelineCreateInput" }
      responses:
        "201":
          description: Timeline entry created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TimelineEntry" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/timeline/{id}:
    patch:
      tags: [Timeline]
      summary: Update a timeline entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TimelineCreateInput" }
      responses:
        "200":
          description: Timeline entry updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TimelineEntry" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Timeline]
      summary: Delete a timeline entry
      description: Timeline entries, unlike Systems, may be hard-deleted directly — they carry no publishing-state history worth preserving.
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # ADMIN — CV (Experience / Education / Skill)
  # ============================================================
  /admin/cv/experience:
    get:
      tags: [CV (Admin)]
      summary: List experience entries
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Experience list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/ExperienceEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [CV (Admin)]
      summary: Create an experience entry
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ExperienceInput" }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/ExperienceEntry" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/cv/experience/{id}:
    patch:
      tags: [CV (Admin)]
      summary: Update an experience entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ExperienceInput" }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/ExperienceEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [CV (Admin)]
      summary: Delete an experience entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/cv/education:
    get:
      tags: [CV (Admin)]
      summary: List education entries
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Education list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/EducationEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [CV (Admin)]
      summary: Create an education entry
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EducationInput" }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/EducationEntry" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/cv/education/{id}:
    patch:
      tags: [CV (Admin)]
      summary: Update an education entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EducationInput" }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/EducationEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [CV (Admin)]
      summary: Delete an education entry
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/cv/skills:
    get:
      tags: [CV (Admin)]
      summary: List skills
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Skill list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/SkillEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [CV (Admin)]
      summary: Create a skill
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SkillInput" }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/SkillEntry" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/cv/skills/{id}:
    patch:
      tags: [CV (Admin)]
      summary: Update a skill
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SkillInput" }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/SkillEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [CV (Admin)]
      summary: Delete a skill
      description: Blocked with 409 if the skill is still referenced by any System or Experience (onDelete Restrict, mirrors BR-8.2 discipline).
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: Skill is still in use, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }

  # ============================================================
  # ADMIN — CV CHECK, PROFILE, ACHIEVEMENTS (#74)
  # ============================================================
  /admin/cv/check:
    get:
      tags: [CV (Admin)]
      summary: CV completeness report — score, issues, suggested summary, preview
      description: Reports what's missing or weak before generating. Never fills anything in; the suggested summary is drafted only from facts already on the CV.
      security: [{ adminSession: [] }]
      parameters:
        - name: targetRole
          in: query
          schema: { type: string, maxLength: 100 }
      responses:
        "200":
          description: The report
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CvCheck" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/profile:
    get:
      tags: [Profile (Admin)]
      summary: The owner's profile and links — the CV header and the site's owner details
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Profile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    patch:
      tags: [Profile (Admin)]
      summary: Edit profile fields (audited)
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfileUpdateInput" }
      responses:
        "200":
          description: Updated profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Profile" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/profile/links:
    post:
      tags: [Profile (Admin)]
      summary: Add a social or contact link
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfileLinkInput" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProfileLink" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/profile/links/{id}:
    patch:
      tags: [Profile (Admin)]
      summary: Edit a link (including whether the CV carries it)
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfileLinkInput" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProfileLink" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Profile (Admin)]
      summary: Remove a link
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Removed }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/achievements:
    get:
      tags: [Profile (Admin)]
      summary: List certifications and awards
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Achievement list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/Achievement" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Profile (Admin)]
      summary: Add a certification or award (starts as a draft unless contentStatus says otherwise)
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AchievementInput" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Achievement" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/achievements/{id}:
    patch:
      tags: [Profile (Admin)]
      summary: Edit an achievement; publishing it puts it on the site and the CV
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AchievementInput" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Achievement" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Profile (Admin)]
      summary: Remove an achievement
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Removed }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # ADMIN — SETTINGS (Flags, Visitor Lenses)
  # ============================================================
  /admin/settings/platform:
    get:
      tags: [Settings]
      summary: List every platform setting with its effective value (#67)
      description: |
        Tunables only — rate limits, SLAs, retention. Values a business rule fixes (BR-2.3, BR-3.2, BR-3.5)
        are deliberately not settings. A setting with no stored value reports its default (isDefault=true).
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: All registered settings
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/PlatformSetting" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/settings/platform/{key}:
    patch:
      tags: [Settings]
      summary: Change one setting, validated against its registered schema and bounds; audited
      security: [{ adminSession: [] }]
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string, example: inquiry.rateLimit.maxPerWindow }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PlatformSettingUpdateInput" }
      responses:
        "200":
          description: The setting after the change
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PlatformSetting" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/settings/flags:
    get:
      tags: [Settings (Admin)]
      summary: List all feature flags
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Flag list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/FlagEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/settings/flags/{key}:
    patch:
      tags: [Settings (Admin)]
      summary: Toggle a single feature flag (BR-4.4 — one at a time, no bulk-enable)
      security: [{ adminSession: [] }]
      parameters:
        - { name: key, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [enabled], properties: { enabled: { type: boolean } } }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/FlagEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /admin/settings/lenses:
    get:
      tags: [Settings (Admin)]
      summary: List visitor lenses
      security: [{ adminSession: [] }]
      responses:
        "200":
          description: Lens list
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/VisitorLensEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Settings (Admin)]
      summary: Create a visitor lens
      security: [{ adminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VisitorLensInput" }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/VisitorLensEntry" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /admin/settings/lenses/{id}:
    patch:
      tags: [Settings (Admin)]
      summary: Update a visitor lens's priority content or AI framing prompt
      security: [{ adminSession: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VisitorLensInput" }
      responses:
        "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/VisitorLensEntry" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # ADMIN — ACTIVITY LOG (read-only, BR-3.4)
  # ============================================================
  /admin/activity-log:
    get:
      tags: [Activity Log (Admin)]
      summary: List activity log entries
      security: [{ adminSession: [] }]
      parameters:
        - name: entityType
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
      responses:
        "200":
          description: Activity log, most recent first
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/ActivityLogEntry" } }
                  meta: { $ref: "#/components/schemas/PageMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # Complete API surface — F2.2 (#82). These handlers are intentionally
  # declared alongside the original V1 endpoints: OpenAPI remains the source
  # of the supported public and admin surface.
  /profile:
    get: { tags: [Profile (Public)], summary: Get the public owner profile and links, description: "Admin-edited profile data, its links, and affiliations (organizations founded or co-founded, #99).", responses: { "200": { description: "Profile (with links[] and affiliations[] — name, slug, role)" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /content/{key}:
    get:
      tags: [Content (Public)]
      summary: Get a page content block (#106)
      description: "Owner-edited site copy by key, e.g. how-i-build — { mission, principles[{ name, summary, body }] }. Also evidence — { claims[{ id, claim, where, status, proves, doesNotProve, evidence[{ label, kind, href }], reviewedAt }] } (docs/EVIDENCE-SPEC.md). 404 for an unknown key or a block not yet written."
      parameters: [{ name: key, in: path, required: true, schema: { type: string, pattern: "^[a-z0-9]+(-[a-z0-9]+)*$" } }]
      responses: { "200": { description: "{ key, body }" }, "404": { $ref: "#/components/responses/NotFound" } }
  /admin/content:
    get: { tags: [Content (Admin)], summary: "Every editable content block — key, title, description, updatedAt (#106)", security: [{ adminSession: [] }], responses: { "200": { description: "{ blocks: [...] }" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/content/{key}:
    get:
      tags: [Content (Admin)]
      summary: Get one content block with its current body (null until written)
      security: [{ adminSession: [] }]
      parameters: [{ name: key, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: "{ key, title, description, body, updatedAt }" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } }
    put:
      tags: [Content (Admin)]
      summary: Replace a content block — the body must match the block's schema (lib/content/blocks.ts)
      security: [{ adminSession: [] }]
      parameters: [{ name: key, in: path, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, description: "The block body, e.g. how-i-build: { mission: string (≤400), principles: [{ name (≤80), summary (≤160), body (≤800) }] (1–8) }" } } } }
      responses: { "200": { description: "{ key, body, updatedAt }" }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } }
  /homes:
    get: { tags: [Profile (Public)], summary: "The GitHub homes — the owner's account and ventures — with role, GitHub accounts and published system counts (F5c)", responses: { "200": { description: "{ data: [{ name, slug, role, kind, publishedSystems, systems: [slug], github: [{ login, url }] }] }" } } }
  /activity:
    get: { tags: [Home (Public)], summary: "Commits per week for each published system over the last 26 weeks — counts only (F5c)", responses: { "200": { description: "{ data: [{ slug, weeks: [{ weekStart, commits }] }] }" } } }
  /github/repos:
    get: { tags: [Home (Public)], summary: "The owner's public repos in his own homes — languages, topics, stars, dates, activity, README excerpt; never private, archived or client-restricted (F5c)", responses: { "200": { description: "{ data: [{ fullName, name, home, homeSlug, url, systemPath, description, languages, topics, stars, createdAt, pushedAt, readmeExcerpt, commitsLast4Weeks, commitsLastYear }] }" } } }
  /github/commits:
    get:
      tags: [Home (Public)]
      summary: "Recent commits (last 90 days) in the owner's public repos, newest first (F5c)"
      parameters: [{ name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 400, default: 100 } }]
      responses: { "200": { description: "{ data: [{ repo, message, committedAt }] }" } }
  /guide:
    post:
      tags: [Home (Public)]
      summary: "Ask the AI guide — streams an answer grounded in the site's public data (UI message stream). Off unless the concierge flag is on; rate-limited per visitor and per day (concierge.* settings)"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [messages]
              properties:
                messages: { type: array, maxItems: 220, description: "The conversation so far: user messages (one text part) and the guide's answers (text and its own tool parts only). Tool results are never taken from the request: search results are dropped and browser-tool results rebuilt from fixed values" }
                lens: { type: string, maxLength: 60, nullable: true, description: "The visitor's lens key (GET /lenses)" }
                page: { type: string, maxLength: 200, nullable: true, description: "The site path the visitor is on, e.g. /systems/xkimi-xa-mali — used only if it is one of the site's own pages ('this system' means that one)" }
      responses:
        "200": { description: "text/event-stream — the AI SDK UI message stream. When the model and its fallbacks are all busy, the stream ends with a 'busy, try again in a minute' error" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { description: "GUIDE_OFF — the guide is switched off" }
        "429": { description: "RATE_LIMITED, CONVERSATION_LIMIT or GUIDE_RESTING (the daily cap)" }
        "503": { description: "GUIDE_UNAVAILABLE — no model provider configured" }
  /lenses:
    get: { tags: [Home (Public)], summary: "The visitor lenses the home page and the AI guide open with, in the owner's order — key and label only (Constitution §4)", responses: { "200": { description: "{ data: [{ key, label }] }" } } }
  /platform/pulse:
    get: { tags: [Home (Public)], summary: "The platform reporting on itself — rules the database enforces, audit events, last job and sync, the running build (F5c)", responses: { "200": { description: "{ rulesEnforcedByDatabase, auditEventsLast7Days, auditEventsTotal, lastSuccessfulJobAt, lastGithubSyncAt, deployment }" } } }
  /profile/photo/{purpose}:
    get:
      tags: [Profile (Public)]
      summary: "The owner's current photo for a place on the site, e.g. about — the image itself (WebP), cached by content hash (BR-1.17)"
      parameters: [{ name: purpose, in: path, required: true, schema: { type: string } }, { name: v, in: query, schema: { type: string }, description: "The first 12 hex of the photo's hash — makes the link immutable" }]
      responses: { "200": { description: image/webp }, "304": { description: Not modified }, "404": { $ref: "#/components/responses/NotFound" } }
  /systems/{slug}/screenshot:
    get:
      tags: [Systems (Public)]
      summary: "A live system's current screenshot — captured from its live site or uploaded by the owner — the image itself (WebP), cached by content hash (BR-1.18). Never for an unpublished or NDA system."
      parameters: [{ name: slug, in: path, required: true, schema: { type: string } }, { name: v, in: query, schema: { type: string }, description: "The first 12 hex of the image's hash — makes the link immutable" }]
      responses: { "200": { description: image/webp }, "304": { description: Not modified }, "404": { $ref: "#/components/responses/NotFound" } }
  /admin/profile/photos:
    get: { tags: [Profile (Admin)], summary: "Every photo version, newest first per purpose (no bytes)", security: [{ adminSession: [] }], responses: { "200": { description: "{ versions: [...] }" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    post:
      tags: [Profile (Admin)]
      summary: "Upload a photo — multipart fields file, purpose, altText; re-encoded to WebP without metadata; becomes current for its purpose (BR-1.17)"
      security: [{ adminSession: [] }]
      requestBody: { required: true, content: { multipart/form-data: { schema: { type: object, required: [file, purpose, altText], properties: { file: { type: string, format: binary }, purpose: { type: string }, altText: { type: string, maxLength: 300 } } } } } }
      responses: { "201": { description: The new current version }, "200": { description: Same photo as the current one — nothing changed }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "413": { description: Larger than profile.photo.maxMegabytes }, "415": { description: Not a readable image } }
  /admin/profile/photos/{id}:
    get: { tags: [Profile (Admin)], summary: "Preview any version — the image itself", security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: image/webp }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
    patch:
      tags: [Profile (Admin)]
      summary: "Change a version's alt text — the only thing about a photo that can change (BR-1.17)"
      security: [{ adminSession: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [altText], properties: { altText: { type: string, maxLength: 300 } } } } } }
      responses: { "200": { description: The version }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } }
  /admin/profile/photos/{id}/restore:
    post: { tags: [Profile (Admin)], summary: "Make an earlier version current again (BR-1.17)", security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: The version }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/profile/titles:
    get: { tags: [Profile (Admin)], summary: "The owner's titles and qualifications, current and past (F5c, D13)", security: [{ adminSession: [] }], responses: { "200": { description: "{ data: [{ id, kind, kindLabel, label, detail, educationId, sortOrder, startsOn, endsOn, current }] }" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    post:
      tags: [Profile (Admin)]
      summary: Add a title or qualification — kind is a TitleKind key
      security: [{ adminSession: [] }]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [kind, label], properties: { kind: { type: string }, label: { type: string, maxLength: 120 }, detail: { type: string, nullable: true, maxLength: 160 }, educationId: { type: string, nullable: true }, sortOrder: { type: integer, minimum: 0 }, startsOn: { type: string, format: date, nullable: true }, endsOn: { type: string, format: date, nullable: true } } } } } }
      responses: { "201": { description: The title }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" } }
  /admin/profile/titles/{id}:
    patch:
      tags: [Profile (Admin)]
      summary: Replace a title (same body as POST) — give it an end date to retire it while keeping the record
      security: [{ adminSession: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: The title }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } }
    delete:
      tags: [Profile (Admin)]
      summary: Remove a title
      security: [{ adminSession: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { "204": { description: Removed }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } }
  /home:
    get:
      tags: [Home (Public)]
      summary: Get homepage ledger, featured systems and approved metrics
      parameters: [{ name: featured, in: query, schema: { type: integer, minimum: 1, maximum: 12, default: 4 } }]
      responses: { "200": { description: Homepage data } }
  /search:
    get:
      tags: [Search (Public)]
      summary: Search published systems, journey entries and skills
      parameters: [{ name: q, in: query, required: true, schema: { type: string, minLength: 2, maxLength: 100 } }, { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 25, default: 10 } }]
      responses: { "200": { description: Search results }, "400": { $ref: "#/components/responses/BadRequest" }, "429": { description: Search rate limited } }
  /skills:
    get: { tags: [Profile (Public)], summary: List public skills with evidence, responses: { "200": { description: Skills and evidence } } }
  /achievements:
    get: { tags: [Profile (Public)], summary: List published achievements, responses: { "200": { description: Achievements } } }
  /metrics:
    get: { tags: [Metrics (Public)], summary: List approved public metrics, responses: { "200": { description: Approved metrics } } }
  /cv:
    get: { tags: [CV], summary: Get the generated CV as data, description: "The generated CV option's model (BR-7.1). 404 while the admin hides that option (BR-7.5).", responses: { "200": { description: CV model }, "400": { $ref: "#/components/responses/BadRequest" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /cv/documents/{id}:
    get:
      tags: [CV]
      summary: Download a generated CV document
      description: "404 for an unknown id, or while the admin hides the generated option (BR-7.5)."
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: Document bytes (attachment, nosniff) }, "404": { $ref: "#/components/responses/NotFound" } }
  /cv/options:
    get:
      tags: [CV]
      summary: List the CV options a visitor can choose (#92)
      description: >
        The CV generated from live data and the owner's uploaded CV, each only
        while the admin shows it, the admin's chosen one first, each clearly
        labelled (BR-7.1, BR-7.5). The uploaded option lists its current files
        (one per format) with their upload date.
      responses:
        "200":
          description: Visible options
          content:
            application/json:
              schema:
                type: object
                properties:
                  options: { type: array, items: { $ref: "#/components/schemas/CvOption" } }
  /cv/uploads/{id}:
    get:
      tags: [CV]
      summary: Download the owner's uploaded CV (#92)
      description: "Only a current file of a visible upload option; a superseded or hidden one is a 404 (BR-7.2, BR-7.5). Always an attachment, never sniffed (BR-7.6). Rate-limited (cv.download.rateLimit.*)."
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: File bytes (application/pdf or Word), attachment }, "404": { $ref: "#/components/responses/NotFound" }, "429": { description: Rate limited, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } } }
  /systems/{slug}/related:
    get:
      tags: [Systems (Public)]
      summary: List related published systems
      parameters: [{ name: slug, in: path, required: true, schema: { type: string } }, { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 12, default: 3 } }]
      responses: { "200": { description: Related systems }, "308": { description: "Old slug — permanent redirect to the current one, query kept (#87, BR-1.14)" }, "404": { $ref: "#/components/responses/NotFound" } }

  /admin/overview:
    get: { tags: [Overview (Admin)], summary: Get the admin attention dashboard, security: [{ adminSession: [] }], responses: { "200": { description: Dashboard data }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/organizations:
    get: { tags: [Organizations (Admin)], summary: List organizations, security: [{ adminSession: [] }], responses: { "200": { description: Organizations }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    post: { tags: [Organizations (Admin)], summary: Create an organization, security: [{ adminSession: [] }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/OrganizationInput" } } } }, responses: { "201": { description: Created }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/organizations/{id}:
    patch: { tags: [Organizations (Admin)], summary: Update an organization, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/OrganizationInput" } } } }, responses: { "200": { description: Updated }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/systems/{id}/skills:
    put: { tags: [Systems (Admin)], summary: Replace a system's skill links, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/SystemSkillsInput" } } } }, responses: { "200": { description: Updated skill links }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/systems/{id}/writeup:
    post: { tags: [Systems (Admin)], summary: "Regenerate from repo — hand the summary and case study back to the AI and rewrite them now from the public repo (BR-4.5)", description: "Only for a published system with a public repo (and client approval for client work). The previous text stays in the revision history (BR-1.15). Off while the writeups.enabled flag is off.", security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: The rewritten system, content: { application/json: { schema: { $ref: "#/components/schemas/SystemAdmin" } } } }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" }, "409": { description: "WRITEUPS_OFF (flag off) or NOT_ELIGIBLE (unpublished, private repo, or client work without approval)" }, "502": { description: "WRITEUP_FAILED — GitHub or the model failed; nothing was written" }, "503": { description: "WRITEUPS_UNAVAILABLE — no AI provider or GitHub token" } } }
  /admin/systems/{id}/screenshot:
    get: { tags: [Systems (Admin)], summary: "The current screenshot's image, whatever the system's state — the admin's preview (BR-1.18)", security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: image/webp }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
    post:
      tags: [Systems (Admin)]
      summary: "Upload the owner's screenshot — multipart field file; re-encoded to WebP without metadata; becomes current and wins over automatic captures (BR-1.18)"
      security: [{ adminSession: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
      requestBody: { required: true, content: { multipart/form-data: { schema: { type: object, required: [file], properties: { file: { type: string, format: binary } } } } } }
      responses: { "201": { description: "{ screenshot } — the new current one" }, "200": { description: Same image as the current one — nothing changed }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" }, "413": { description: Larger than screenshots.upload.maxMegabytes }, "415": { description: Not a readable image } }
  /admin/systems/{id}/screenshot/capture:
    post: { tags: [Systems (Admin)], summary: "Capture now — take the screenshot from the system's live site right away; retires an uploaded one (BR-1.18)", security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: "{ screenshot }" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" }, "409": { description: "NO_LIVE_SITE — the system has no live address" }, "502": { description: "CAPTURE_FAILED — the site or the screenshot service failed; nothing changed" } } }
  /admin/systems/{id}/screenshot/automatic:
    post: { tags: [Systems (Admin)], summary: "Back to automatic — retire the owner's uploaded screenshot so the daily job captures the live site again (BR-1.18)", security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: "{ retired, screenshot }" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/systems/{id}/impacts:
    get: { tags: [Systems (Admin)], summary: List a system's impacts, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: Impacts }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    post: { tags: [Systems (Admin)], summary: Add a system impact, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ImpactInput" } } } }, responses: { "201": { description: Created }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/systems/{id}/revisions:
    get: { tags: [Systems (Admin)], summary: "Every version of a system's case study or description, newest first (#88, BR-1.15)", description: "field = caseStudyBody (default) or description. Each version is attributed (actorType, adminUserId) and dated; current = the newest; backfilled = the text when history began.", security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }, { name: field, in: query, schema: { type: string, enum: [caseStudyBody, description], default: caseStudyBody } }], responses: { "200": { description: "{ field, revisions: ContentRevision[] }", content: { application/json: { schema: { type: object, properties: { field: { type: string }, revisions: { type: array, items: { $ref: "#/components/schemas/ContentRevision" } } } } } } }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/systems/{id}/revisions/{revisionId}/restore:
    post: { tags: [Systems (Admin)], summary: "Write an earlier version back — recorded as a new version (BR-1.15)", security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }, { name: revisionId, in: path, required: true, schema: { type: string } }], responses: { "200": { description: "{ field, body, changed } — changed=false when that text is already current (nothing recorded)" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/impacts/{id}:
    patch: { tags: [Systems (Admin)], summary: Update an impact, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/ImpactInput" } } } }, responses: { "200": { description: Updated }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
    delete: { tags: [Systems (Admin)], summary: Delete an impact, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "204": { description: Deleted }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/cv/documents:
    get: { tags: [CV (Admin)], summary: List generated CV documents, security: [{ adminSession: [] }], responses: { "200": { description: Document history }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/cv/uploads:
    get: { tags: [CV (Admin)], summary: List every uploaded CV version (#92), security: [{ adminSession: [] }], responses: { "200": { description: "{ versions: CvUploadVersion[] } — newest first per format", content: { application/json: { schema: { type: object, properties: { versions: { type: array, items: { $ref: "#/components/schemas/CvUploadVersion" } } } } } } }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    post:
      tags: [CV (Admin)]
      summary: Upload the owner's CV (PDF or Word) — becomes current for its format (#92)
      description: >
        multipart/form-data with one field "file". Accepted only if its content
        is a PDF or a macro-free Word document, whatever its name (BR-7.6), and
        within cv.upload.maxMegabytes. The previous current file of that format
        is superseded, never deleted (BR-7.2). Uploading the current file again
        changes nothing (200).
      security: [{ adminSession: [] }]
      requestBody: { required: true, content: { multipart/form-data: { schema: { type: object, required: [file], properties: { file: { type: string, format: binary } } } } } }
      responses: { "201": { description: New current version, content: { application/json: { schema: { $ref: "#/components/schemas/CvUploadVersion" } } } }, "200": { description: Already the current file — nothing changed }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "413": { description: Larger than the upload limit }, "415": { description: "UNSUPPORTED_FILE — not a PDF or Word document, or a Word file with macros" } }
  /admin/cv/uploads/{id}:
    get: { tags: [CV (Admin)], summary: Download any uploaded CV version, current or superseded, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: File bytes (attachment, nosniff) }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/cv/uploads/{id}/restore:
    post: { tags: [CV (Admin)], summary: Make an earlier uploaded version current again (BR-7.2), security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: Restored version, content: { application/json: { schema: { $ref: "#/components/schemas/CvUploadVersion" } } } }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/cv/options:
    get: { tags: [CV (Admin)], summary: Get which CV options visitors see (#92), security: [{ adminSession: [] }], responses: { "200": { description: CV options, content: { application/json: { schema: { $ref: "#/components/schemas/CvOptions" } } } }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    patch: { tags: [CV (Admin)], summary: "Show or hide each CV option, choose the first, edit labels (BR-7.5)", description: "The database refuses hiding both, a hidden first option, and hiding the generated CV before any upload exists — 400 in the rule's words.", security: [{ adminSession: [] }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/CvOptionsUpdateInput" } } } }, responses: { "200": { description: Updated, content: { application/json: { schema: { $ref: "#/components/schemas/CvOptions" } } } }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/metrics:
    get: { tags: [Metrics (Admin)], summary: List metrics, current values, proposals and history, security: [{ adminSession: [] }], responses: { "200": { description: Metrics }, "401": { $ref: "#/components/responses/Unauthorized" } } }
    post: { tags: [Metrics (Admin)], summary: Define a metric, security: [{ adminSession: [] }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/MetricInput" } } } }, responses: { "201": { description: Created }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/metrics/{key}:
    patch: { tags: [Metrics (Admin)], summary: Update a metric definition, security: [{ adminSession: [] }], parameters: [{ name: key, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/MetricUpdateInput" } } } }, responses: { "200": { description: Updated }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/metrics/{key}/proposals:
    post: { tags: [Metrics (Admin)], summary: Propose a manual metric value, security: [{ adminSession: [] }], parameters: [{ name: key, in: path, required: true, schema: { type: string } }], requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/MetricProposalInput" } } } }, responses: { "201": { description: Proposed }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/metrics/compute:
    post: { tags: [Metrics (Admin)], summary: Compute and propose registered metrics, security: [{ adminSession: [] }], responses: { "200": { description: Computation result }, "401": { $ref: "#/components/responses/Unauthorized" }, "409": { description: Computation already running } } }
  /admin/metrics/snapshots/{id}/approve:
    post: { tags: [Metrics (Admin)], summary: Approve a proposed metric snapshot, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: Updated metric }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" }, "409": { description: Invalid snapshot transition } } }
  /admin/metrics/snapshots/{id}/reject:
    post: { tags: [Metrics (Admin)], summary: Reject a proposed metric snapshot, security: [{ adminSession: [] }], parameters: [{ name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: Updated metric }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" }, "409": { description: Invalid snapshot transition } } }
  /admin/freshness:
    get: { tags: [Overview (Admin)], summary: "Live content nobody has edited or reviewed for content.freshnessDays, oldest first (#89, BR-1.16)", description: "Systems, roles, education and the profile. Only a real edit to what visitors see, or mark-reviewed, restarts the clock — GitHub sync writes don't.", security: [{ adminSession: [] }], responses: { "200": { description: "{ thresholdDays, items: [{ kind, id, title, reviewedAt, daysSince }] }" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/freshness/{kind}/{id}/reviewed:
    post: { tags: [Overview (Admin)], summary: "Mark content reviewed — still accurate; its clock restarts (BR-1.16)", security: [{ adminSession: [] }], parameters: [{ name: kind, in: path, required: true, schema: { type: string, enum: [system, experience, education, profile] } }, { name: id, in: path, required: true, schema: { type: string } }], responses: { "200": { description: "{ kind, id, reviewedAt }" }, "400": { $ref: "#/components/responses/BadRequest" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" } } }
  /admin/jobs:
    get: { tags: [Jobs (Admin)], summary: "List registered jobs (with schedule) and recent runs (with what started each)", security: [{ adminSession: [] }], parameters: [{ name: job, in: query, schema: { type: string } }], responses: { "200": { description: "{ jobs: [{ name, description, rules, schedule }], data: [{ id, job, status, startedAt, finishedAt, durationMs, summary, error, trigger, adminUserId }] }" }, "401": { $ref: "#/components/responses/Unauthorized" } } }
  /admin/jobs/{job}/run:
    post: { tags: [Jobs (Admin)], summary: "Run a registered job now (#94) — same runner and lock as the schedule, recorded as started by this admin", security: [{ adminSession: [] }], parameters: [{ name: job, in: path, required: true, schema: { type: string, enum: [maintenance.daily, metrics.compute, github.sync] } }], responses: { "200": { description: "{ status: succeeded, runId, result }" }, "401": { $ref: "#/components/responses/Unauthorized" }, "404": { $ref: "#/components/responses/NotFound" }, "409": { description: "ALREADY_RUNNING" }, "500": { description: "{ status: failed, runId, error } — the run is recorded with its error" } } }

components:
  securitySchemes:
    adminSession:
      type: apiKey
      in: cookie
      name: admin_session
      description: >-
        HTTP-only, SameSite=Strict session cookie, issued only after 2FA verification (BR-3.1).
        Every state-changing admin request — and the two login steps — is refused with
        403 CSRF_REJECTED when its Origin or Sec-Fetch-Site names another site (BR-3.9).

  responses:
    BadRequest:
      description: Validation failed
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Unauthorized:
      description: Missing or invalid admin session
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }

  schemas:
    OrganizationInput:
      type: object
      required: [name, slug]
      properties:
        name: { type: string, minLength: 1 }
        slug: { type: string, pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$" }
        role: { type: string, nullable: true, maxLength: 80, description: "The owner's role, e.g. Founder — set makes it an affiliation" }
        isClient: { type: boolean, default: false, description: "BR-1.2 — the default for systems created afterwards only" }
        githubLogins: { type: array, items: { type: string }, maxItems: 20, description: "GitHub accounts whose repos the sync files here" }
        kind: { type: string, nullable: true, description: "An OrganizationKind key — personal, venture, client, … (F5c)" }
    ImpactInput:
      type: object
      required: [label, value]
      properties:
        label: { type: string, minLength: 1 }
        value: { type: string, minLength: 1 }
        context: { type: string, nullable: true }
        sortOrder: { type: integer, minimum: 0, default: 0 }
    SystemSkillsInput:
      type: object
      required: [skillIds]
      properties:
        skillIds: { type: array, items: { type: string } }
    MetricInput:
      type: object
      required: [key, label, unit]
      properties:
        key: { type: string, pattern: "^[a-z][a-z0-9_.-]*$" }
        label: { type: string, minLength: 1 }
        description: { type: string, nullable: true }
        unit: { type: string, minLength: 1 }
        sortOrder: { type: integer, minimum: 0, default: 0 }
        active: { type: boolean, default: true }
    MetricUpdateInput:
      type: object
      properties:
        label: { type: string, minLength: 1 }
        description: { type: string, nullable: true }
        unit: { type: string, minLength: 1 }
        sortOrder: { type: integer, minimum: 0 }
        active: { type: boolean }
    MetricProposalInput:
      type: object
      required: [value]
      properties:
        value: { type: number }
    ContentRevision:
      type: object
      properties:
        id: { type: string }
        field: { type: string, enum: [caseStudyBody, description] }
        body: { type: string, nullable: true }
        actorType: { type: string, enum: [ADMIN, ANONYMOUS, SYSTEM] }
        adminUserId: { type: string, nullable: true }
        backfilled: { type: boolean }
        createdAt: { type: string, format: date-time }
        current: { type: boolean }
        matchesCurrent: { type: boolean }
    CvOption:
      type: object
      description: "One CV option a visitor can choose (#92). generated → call generate; uploaded → download a file."
      required: [kind, label, note, formats]
      properties:
        kind: { type: string, enum: [generated, uploaded] }
        label: { type: string }
        note: { type: string }
        formats: { type: array, items: { type: string, enum: [pdf, docx] } }
        generate: { type: object, description: "generated only", properties: { method: { type: string, enum: [POST] }, url: { type: string } } }
        uploadedAt: { type: string, format: date-time, nullable: true, description: "uploaded only — the newest current file" }
        files:
          type: array
          description: uploaded only
          items: { type: object, properties: { format: { type: string, enum: [pdf, docx] }, byteSize: { type: integer }, uploadedAt: { type: string, format: date-time }, url: { type: string } } }
    CvUploadVersion:
      type: object
      properties:
        id: { type: string }
        format: { type: string, enum: [pdf, docx] }
        fileName: { type: string, description: As uploaded — admin only }
        byteSize: { type: integer }
        sha256: { type: string }
        uploadedAt: { type: string, format: date-time }
        supersededAt: { type: string, format: date-time, nullable: true }
        current: { type: boolean }
    CvOptions:
      type: object
      properties:
        showGenerated: { type: boolean }
        showUploaded: { type: boolean }
        firstOption: { type: string, enum: [generated, uploaded] }
        generatedLabel: { type: string, maxLength: 60 }
        generatedNote: { type: string, maxLength: 200 }
        uploadedLabel: { type: string, maxLength: 60 }
        uploadedNote: { type: string, maxLength: 200 }
        updatedAt: { type: string, format: date-time }
    CvOptionsUpdateInput:
      type: object
      minProperties: 1
      additionalProperties: false
      properties:
        showGenerated: { type: boolean }
        showUploaded: { type: boolean }
        firstOption: { type: string, enum: [generated, uploaded] }
        generatedLabel: { type: string, minLength: 1, maxLength: 60 }
        generatedNote: { type: string, maxLength: 200 }
        uploadedLabel: { type: string, minLength: 1, maxLength: 60 }
        uploadedNote: { type: string, maxLength: 200 }
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum:
                - VALIDATION_ERROR
                - UNAUTHORIZED
                - NOT_FOUND
                - CLIENT_APPROVAL_REQUIRED
                - INVALID_STATUS_TRANSITION
                - RATE_LIMITED
                - ACCOUNT_LOCKED
                - CHALLENGE_EXPIRED
                - CHALLENGE_INVALID
                - LOOKUP_KEY_DEPRECATED
                - LOOKUP_KEY_EXISTS
                - OWNER_PERMISSION_REQUIRED
                - INTERNAL_ERROR
              description: Closed set, kept in lockstep with lib/schemas.ts ErrorCodeEnum — never a freeform string.
            message: { type: string }
            details: { type: object, nullable: true }

    PageMeta:
      type: object
      properties:
        page: { type: integer }
        pageSize: { type: integer }
        total: { type: integer }

    LookupValue:
      type: object
      properties:
        id: { type: string }
        key: { type: string }
        label: { type: string }
        active: { type: boolean }
        stage: { $ref: "#/components/schemas/PipelineStage", description: "type=status only" }
        colorToken: { $ref: "#/components/schemas/StatusColorToken", description: "type=status only" }
        requiresOwnerPermission: { type: boolean, description: "type=repo-relationship only — publishing needs the repo owner's permission (BR-1.11)" }
        autoDraftOnShip: { type: boolean, description: "type=milestone-type only — the type a system's first ship is auto-drafted as" }

    PipelineStage:
      type: string
      enum: [shipped, building, queued]
      description: Which homepage count a Status belongs to. A fixed control dimension (EXT-1 exception, like ContentStatus); the statuses themselves stay an open lookup.

    StatusColorToken:
      type: string
      enum: [signal-finished, signal-progress, signal-planned]
      description: Curated, contrast-checked palette a Status may use (DESIGN-SYSTEM.md §1).

    PlatformSetting:
      type: object
      properties:
        key: { type: string }
        value: { description: "Effective value (the stored override, or the default)" }
        default: { description: "Registry default — the business-rule value" }
        isDefault: { type: boolean }
        description: { type: string }
        rule: { type: string, example: BR-2.4 }
        updatedAt: { type: string, format: date-time, nullable: true }

    PlatformSettingUpdateInput:
      type: object
      required: [value]
      properties:
        value: { description: "Must satisfy the setting's registered type and bounds" }

    LookupUpdateInput:
      type: object
      properties:
        label: { type: string, minLength: 1 }
        stage: { $ref: "#/components/schemas/PipelineStage" }
        colorToken: { $ref: "#/components/schemas/StatusColorToken" }
        requiresOwnerPermission: { type: boolean }
        autoDraftOnShip: { type: boolean }

    OwnerPermission:
      type: string
      enum: [not_required, not_requested, requested, granted, declined]
      description: The repo owner's answer for a collaborated system (BR-1.11). A fixed control state; the database keeps it consistent with the repo relationship.

    SystemPublic:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        organization: { type: string }
        status: { type: string }
        statusColorToken: { type: string, description: "CSS custom-property/Tailwind token name (e.g. signal-finished) — status color is data (EXT-1), not a client-side hardcoded map" }
        domain: { type: string, nullable: true }
        description: { type: string }
        repoUrl: { type: string, nullable: true, description: "Null when clientVisibility = NDA_RESTRICTED (BR-1.3) or the repo is private (BR-1.7)" }
        liveUrl: { type: string, nullable: true }
        screenshotUrl: { type: string, nullable: true, description: "Homepage preview image; renders a technical placeholder when absent" }
        techStack: { type: array, items: { type: string } }
        isFlagship: { type: boolean }
        repoPrivate: { type: boolean, description: "BR-1.7 — shown as a private repository; access is available on request" }

    SystemPublicDetailed:
      allOf:
        - $ref: "#/components/schemas/SystemPublic"
        - type: object
          properties:
            caseStudyBody: { type: string }
            caseStudyAuthor: { type: string, enum: [ai, owner], nullable: true, description: "BR-4.5 — 'ai' when the case study was written by AI from the public repo (label it as such), 'owner' when the owner wrote it; null when there is none" }
            caseStudyWrittenAt: { type: string, format: date-time, nullable: true, description: "When the AI last wrote it; null for the owner's own" }
            impacts:
              type: array
              items:
                type: object
                properties:
                  label: { type: string }
                  value: { type: string }
            testimonials:
              type: array
              items: { $ref: "#/components/schemas/TestimonialPublic" }

[...]
